<div class="sb-sidenav-menu-heading">管理者用</div>
<!-- S00 飛ばしてるよ-->
<a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#S00" aria-expanded="false" aria-controls="S00">
    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
    ホーム
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="S00" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages"><a class="nav-link"
            href="{% url 'home:home' %}">
            <div class="sb-nav-link-icon"></div>
            ホーム画面
        </a>
        <a class="nav-link" href="{% url 'home:loginview' %}">
            <div class="sb-nav-link-icon"></div>
            ログイン画面
        </a>
    </nav>
</div>
<!-- S01 -->

<a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#S01" aria-expanded="false" aria-controls="S01">
    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
    従業員マスタ
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="S01" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages"><a class="nav-link"
            href="{% url 'employeemas:S01-01' %}">
            <div class="sb-nav-link-icon"></div>
            従業員一覧
        </a>
        <a class="nav-link" href="{% url 'employeemas:S01-02' %}">
            <div class="sb-nav-link-icon"></div>
            従業員新規登録
        </a>
    </nav>
</div>
<!-- S02 -->
<a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#S02" aria-expanded="false" aria-controls="S01">
    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
    店舗マスタ<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="S02" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
        <a class="nav-link" href="{% url 'storemas:S02-01' %}">
            <div class="sb-nav-link-icon"></div>
            店舗情報一覧
        </a>
        <a class="nav-link" href="{% url 'storemas:S02-02' %}">
            <div class="sb-nav-link-icon"></div>
            店舗情報新規登録
        </a>
    </nav>
</div>
<!-- S03 -->

<a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#S03" aria-expanded="false" aria-controls="S01">
    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
    商品マスタ
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="S03" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
        <a class="nav-link" href="{% url 'itemmas:S03-01' %}">
            <div class="sb-nav-link-icon"></div>
            商品情報一覧
        </a>
        <a class="nav-link" href="{% url 'itemmas:S03-02' %}">
            <div class="sb-nav-link-icon"></div>
            商品情報新規登録
        </a>
    </nav>
</div>
<!-- S04 -->

<a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#S04" aria-expanded="false" aria-controls="S01">
    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
    売上マスタ
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="S04" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
        <a class="nav-link" href="{% url 'earningmas:S04-01' %}">
            <div class="sb-nav-link-icon"></div>
            売上情報一覧
        </a>
    </nav>
</div>
<!-- S05 -->

<a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#S05" aria-expanded="false" aria-controls="S01">
    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
    ベンチマークマスタ
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="S05" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
        <a class="nav-link" href="{% url 'benchmas:S05-01CPU' %}">
            <div class="sb-nav-link-icon"></div>
            CPUベンチマーク一覧
        </a>
        <a class="nav-link" href="{% url 'benchmas:S05-01GPU' %}">
            <div class="sb-nav-link-icon"></div>
            GPUベンチマーク一覧
        </a>
        <a class="nav-link" href="{% url 'benchmas:S05-02CPU' %}">
            <div class="sb-nav-link-icon"></div>
            CPUベンチマーク<br>新規登録
        </a>
        <a class="nav-link" href="{% url 'benchmas:S05-02GPU' %}">
            <div class="sb-nav-link-icon"></div>
            GPUベンチマーク<br>新規登録
        </a>
    </nav>
</div>
<!-- S06 -->

<a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#S06" aria-expanded="false" aria-controls="S01">
    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
    ボトルネックマスタ
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="S06" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
        <a class="nav-link" href="{% url 'bottleneckmas:S06-01' %}">
            <div class="sb-nav-link-icon"></div>
            ボトルネック一覧
        </a>
        <a class="nav-link" href="{% url 'bottleneckmas:S06-02' %}">
            <div class="sb-nav-link-icon"></div>
            ボトルネック新規登録
        </a>
    </nav>
</div>
<!-- S07 -->
<a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#S07" aria-expanded="false" aria-controls="S01">
    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
    セット商品管理
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="S07" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
        <a class="nav-link" href="{% url 'setitem:S08-01' %}">
            <div class="sb-nav-link-icon"></div>
            セット商品一覧
        </a>

    </nav>
</div>
<!-- S09 -->

<a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#S09" aria-expanded="false" aria-controls="S01">
    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
    取置予約
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="S09" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
        <a class="nav-link" href="{% url 'reserve:S09-01' %}">
            <div class="sb-nav-link-icon"></div>
            取置予約一覧
        </a>
        <a class="nav-link" href="{% url 'reserve:S09-02' %}">
            <div class="sb-nav-link-icon"></div>
            取置予約新規登録
        </a>
    </nav>
</div>

<!-- S10 -->

<a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#S10" aria-expanded="false" aria-controls="S01">
    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
    見積
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="S10" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
        <a class="nav-link" href="{% url 'estimate:S10-01' %}">
            <div class="sb-nav-link-icon"></div>
            見積画面
        </a>
    </nav>
</div>

<!-- S14 -->

<a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#S14" aria-expanded="false" aria-controls="S01">
    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
    勤務状況管理
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="S14" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
        <a class="nav-link" href="{% url 'workstatus:S14-01' %}">
            <div class="sb-nav-link-icon"></div>
            勤務状況一覧
        </a>
    </nav>
</div>
</div>