<!-- S09-01 取置予約一覧

    ToDo
        画面の制作お願いします
        画面の確認
        *views.py、forms.pyの埋め込みタグを記述
        *画面の確認
        *画面のスタイル最終調整
        *最終確認(新満)

-->

{% extends 'base.html' %}

{% block title %}SIMS | 取置予約一覧{% endblock %}

{% block main_contents %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">取置予約管理</h1>
        <div class="row">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    取置予約一覧
                </div>
                <div class="card-body">
                    <a class="btn btn-touroku" href="{% url 'reserve:S09-02' %}">新規登録</a>
                    <table class="listtable sub1">
                        <thead class="tablecolumn">
                            <tr>
                                <th style="width:50px;" >番号</th>
                                <th>商品コード</th>
                                <th>型番</th>
                                <th>取置店舗名</th>
                                <th>予約者名</th>
                                <th>連絡先</th>
                                <th>予約日時</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- reserve_listモデルの一覧を表示 -->
                            {% for item in reserve_list %}
                            <tr>
                                <td>{{ item.id }}</td> <!--ID-->
                                <!-- <td style="text-align: center;"></td> -->
                                <td>{{ item.item_code }}</td> <!--商品コード-->
                                <td>{{ item.item_code.model_number }}</td> <!--型番-->
                                <td>{{ item.store_id.store_name }}</td> <!--取置店舗名-->
                                <td>{{ item.reserver_name }}</td> <!--予約者名-->
                                <td>{{ item.reserver_tel }}</td> <!--連絡先-->
                                <td>{{ item.reserve_at }}</td> <!--予約日時-->
                            </tr>
                            <!-- DBが空だった場合 -->
                            {% empty %}
                            空です
                            {% endfor %}
                            <!-- <tr><td>001</td><td>FMVU75EUV1</td><td>店舗C</td><td>佐藤祐樹</td><td>000-0000-0000</td><td>2021/12/11</td>                            </tr>
                            <tr><td>002</td><td>FVMU75EUV1</td><td>店舗A</td><td>田中太郎</td><td>000-0000-0000</td><td>2021/12/13</td>                            </tr> -->
                        </tbody>
                    </table>
                    {% if reserve.has_other_pages %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if reserve.has_previous %}
                            <li><a class="page-link text-primary d-inline-block" href="?page={{ reserve.previous_page_number }}"><<</a>
                            </li>
                            {% else %}
                            <li class="disabled">
                                <div class="page-link text-secondary d-inline-block disabled" href="#"><<</div>
                            </li>
                            {% endif %}
                            {% if reserve.has_previous %}
                            {% if reserve.previous_page_number != 1 %}
                            <li><a class="page-link text-primary d-inline-block" href="?page=1">1</a></li>
                            <li>…</li>
                            {% endif %}
                            <li><a class="page-link text-primary d-inline-block" href="?page={{ reserve.previous_page_number }}">{{
                                    reserve.previous_page_number }}</a></li>
                            {% endif %}
                            <li class="disabled">
                                <div class="page-link text-secondary d-inline-block disabled" href="#">{{ reserve.number }}</div>
                            </li>
                            {% if reserve.has_next %}
                            <li><a class="page-link text-primary d-inline-block" href="?page={{ reserve.next_page_number }}">{{
                                    reserve.next_page_number }}</a></li>
                            {% if reserve.next_page_number != reserve.paginator.num_pages %}
                            <li>…</li>
                            <li><a class="page-link text-primary d-inline-block" href="?page={{ reserve.paginator.num_pages }}">{{
                                    reserve.paginator.num_pages }}</a></li>
                            {% endif %}
                            {% endif %}
                            {% if reserve.has_next %}
                            <li><a class="page-link text-primary d-inline-block" href="?page={{ reserve.next_page_number }}">>></a></li>
                            {% else %}
                            <li class="disabled">
                                <div class="page-link text-secondary d-inline-block disabled" href="#">>></div>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}