<!-- S04-01 売上情報一覧

    ToDo
        画面の制作お願いします
        画面の確認
        *views.py、forms.pyの埋め込みタグを記述
        *画面の確認
        *画面のスタイル最終調整
        *最終確認(新満)

-->

{% extends 'base.html' %}

{% block title %}SIMS | 売上情報一覧{% endblock %}

{% block main_contents %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4"><a class="backlist" href="{% url 'earingmas:S04-03' %}">売上管理</a></h1>
        <div class="row">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    売上一覧
                </div>
                <div class="card-body">
                    <table class="cleannesstable" frame="border">
                        <tr>
                            <td>商品コード
                                <input type="text" id="name" name="itemcode">
                            </td>
                            <td>販売店舗
                                <select name="store">
                                    <option hidden>店舗選択</option>
                                    <option value="">店舗A</option>
                                    <option value="">店舗B</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>型番
                                <input type="text" id="name" name="modelnumber">
                            </td>
                            <td>担当者
                                <select name="employee">
                                    <option hidden>担当者選択</option>
                                    <option value="">大原太郎</option>
                                    <option value="">豊臣秀吉</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                販売日<input type="date" name="saledate">～<input type="date" name="saledate">
                            </td>
                            <td><a class="btn btn-touroku" href="#">検索</a></td>
                        </tr>
                    </table>
                    <table class="earningtable">
                        <thead class="tablecolumn">
                            <tr>
                                <th>伝票番号</th>
                                <th>販売日</th>
                                <th>商品コード</th>
                                <th>型番</th>
                                <th>仕入価格</th>
                                <th>販売価格</th>
                                <th>粗利</th>
                                <th>粗利率</th>
                                <th>販売店舗</th>
                                <th>担当者</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- EarningInfoモデルの一覧を表示 -->
                            {% for item in EarningInfo %}
                            <tr>
                                <td style="text-align: center;"></td> <!--伝票番号-->        
                                <td>{{ item.sale_date | date:"Y/m/d"}}</td> <!--販売日(2021/11/11)-->
                                <td>{{ item.item_code }}</td><!--商品コード-->
                                <td>{{ item.item_code.model_number }}</td><!--型番-->
                                <td class="td-right">¥{{ item.item_code.purchase_price }}</td><!--仕入価格-->
                                <td class="td-right">¥{{ item.selling_price }}</td><!--販売価格-->
                                <td class="td-right">¥{{ item.gross_profit }}</td><!--粗利-->
                                <td>{{ item.gross_profit_margin }}%</td><!--粗利率-->
                                <td>{{ item.store_id.store_name }}</td><!--販売店舗-->
                                <td>{{ item.employee_id.name }}</td><!--担当者-->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
 <!-- ページネーション処理 -->
{% if earningnfo.has_other_pages %}12:03 2022/01/13
<nav aria-label="Page navigation example">
<ul class="pagination">
{% if earningnfo.has_previous %}
<li><a class="page-link text-primary d-inline-block" href="?page={{ earningnfo.previous_page_number }}"><<</a></li>
{% else %}
<li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#"><<</div></li>
{% endif %}
{% if earningnfo.has_previous %}
{% if earningnfo.previous_page_number != 1 %}
<li><a class="page-link text-primary d-inline-block" href="?page=1">1</a></li>
<li>…</li>
{% endif %}
<li><a class="page-link text-primary d-inline-block" href="?page={{ earningnfo.previous_page_number }}">{{ earningnfo.previous_page_number }}</a></li>
{% endif %}
<li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ earningnfo.number }}</div></li>
{% if earningnfo.has_next %}
<li><a class="page-link text-primary d-inline-block" href="?page={{ earningnfo.next_page_number }}">{{ earningnfo.next_page_number }}</a></li>
{% if earningnfo.next_page_number != earningnfo.paginator.num_pages %}
<li>…</li>
<li><a class="page-link text-primary d-inline-block" href="?page={{ earningnfo.paginator.num_pages }}">{{ earningnfo.paginator.num_pages }}</a></li>
{% endif %}
{% endif %}
{% if earningnfo.has_next %}
<li><a class="page-link text-primary d-inline-block" href="?page={{ earningnfo.next_page_number }}">>></a></li>
{% else %}
<li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">>></div></li>
{% endif %}
</ul>
</nav>
{% endif %}
<!-- ページネーション処理終了 -->
                   
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}