<!-- S02-01 店舗情報一覧

    ToDo
        *画面の制作お願いします
        *画面の確認
        *views.py、forms.pyの埋め込みタグを記述
        *画面の確認
        *画面のスタイル最終調整
        *最終確認(新満)

-->
{% extends 'base.html' %}

{% load static %}

{% block title %}SIMS | 店舗一覧画面{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">店舗一覧</h1>
        <div class="row">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    店舗情報一覧
                </div>
                <div class="card-body">
                    <a class="btn btn-touroku" href="{% url 'storemas:S02-02' %}">新規登録</a>
                    <table class="listtable">
                        <thead class="tablecolumn">
                            <tr>
                                <th>店舗ID</th>
                                <th>店舗名</th>
                                <th>場所カテゴリ</th>
                                <th>連絡先</th>
                                <!-- <th>店長</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <!-- StoreInfoモデルの一覧を表示 -->
                            {% for item in StoreInfo %}
                            <tr>
                                <td><a href="{% url 'storemas:S02-03' item.pk %}">{{ item.id }}</a></td><!--店舗ID-->
                                <td>{{ item.store_name }}</td><!--店舗名-->
                                <td>{{ item.get_place_category_display }}</td><!--場所カテゴリ-->
                                <td>{{ item.tel }}</td><!--連絡先-->
                                <!--<td>{ item.store_manager }}</td><!--店長-->
                            </tr>
                            {% endfor %}
                            <!-- { store_manager }} -->
                            <!-- <tr>
                                <td>0200</td>
                                <td>店舗B</td>
                                <td>大原健二</td>
                            </tr> -->
                        </tbody>
                    </table>
                    <!-- <table id="datatablesSimple">
                        <thead class="tablecolumn">
                            <div class="tablecolumn2">
                                <tr>
                                    <th>従業員ID</th>
                                    <th>従業員名</th>
                                    <th>店舗</th>
                                </tr>
                            </div>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>従業員ID</th>
                                <th>従業員名</th>
                                <th>店舗</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            
                        </tbody>
                        
                        
                        <tbody>
                            {% for i in object_list %}
                            <tr>
                                <td><a href="# url 'table:table_detail' i.pk %}">{{ i.get_choice_display }}</a></td>
                                <td>{{i.date | date:"Y/m/d"}}</td>
                                <td>{{i.title}}</td>
                                <td>{{i.get_genre_display}}</td>
                                <td>{{i.quanity}}</td>
                                <td>{{ i.money }}¥</td>
                            </a>
                        </tr>
                        {% empty %}
                        <p>テーブルはありません。</p>
                        {% endfor %}
                        </tbody>
                    </table> -->
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}