<!-- /クリックされたとき下を表示する -->
<div class="wrapper">
    <div class="modal js-modal2">
        <div class="modal_background js-modal-close"></div>
        <div class="modal_content-w80" style="background-color: #f4eade">
            <h1 class="mt-4"><a class="backlist" href="{% url 'earningmas:S04-01' %}">
                売上管理 再登録
            </a></h1>
            <div class="edit-ditail-table">
                <div class="st-left">
                    <a class="btn btn--orange btn--cubic btn--shadow return" href="{% url 'earningmas:S04-01' %}">一覧に戻る</a>
                </div>
                <select name="method_choice">
                    <option value="1">打ち直し</option>
                    <option value="2">返品・返金</option>
                </select>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="registertable">
                    <thead class="tablecolumn">
                        <tr class="dis-non-tdth"><th>商品コード</th><td><input name="selling_price" id="selling_price" placeholder="販売価格を入力" type="text"></td></tr>
                        <tr><th>従業員ID</th><td style="background-color: #FFF;color: black;">{{user.username}}</td></tr>
                        <tr><th>従業員名</th><td style="background-color: #FFF;color: black;">{{user.name}}</td></tr>
                        <tr><th>勤務店舗</th><td>{{form.ws2_selecter}}</td></tr>
                    </thead>
                </table>
                <div class="placement-center">
                <a style="width: 100px;" class="btn btn--orange btn--cubic btn--shadow" href="">戻る</a>
                <button style="width: 100px;" class="btn btn--orange btn--cubic btn--shadow" type="submit" name="update_data">更新</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- <div class="wrapper"> -->
<!-- クリックされたとき下を表示する -->
<div class="wrapper">
    <div class="modal js-modal">
        <div class="modal_background js-modal-close"></div>
        <div class="modal_content-w80" style="background-color: #f4eade">
            <h1 class="mt-4"><a class="backlist" href="{% url 'earningmas:S04-01' %}">
                売上 新規登録
            </a></h1>
            <div class="edit-ditail-table">
                <div class="st-left">
                    <a class="btn btn--orange btn--cubic btn--shadow return" href="{% url 'earningmas:S04-01' %}">一覧に戻る</a>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="registertable">
                    <thead class="tablecolumn">
                        <tr>
                            <th>商品コード</th><td style="background-color: #FFF;color: black;">{{form.s_itemselecter}}</td>
                            <th>担当者</th><td td style="background-color: #FFF;color: black;">{{user.name}}</td>
                        </tr>
                        <tr>
                            <th>型番</th><td id="model_number" style="background-color: #FFF;color: black;border: solid 1px;">自動で入力されます</td>
                            <th>販売店舗</th><td>{{form.s_storeselecter}}</td>
                        </tr>
                        <tr><th>仕入価格</th><td id="purchase_price" style="background-color: #FFF;color: black;border: solid 1.5px; ">自動で入力されます</td>
                            <th>販売価格</th><td><input style="border: solid 1px;" name="selling_price" id="selling_price" placeholder="販売価格を入力" type="text"></td>
                        </tr>
                        </thead>
                </table>
            <div class="placement-center">
                <a style="width: 100px;" class="js-modal btn btn--orange btn--cubic btn--shadow" href="">戻る</a>
                <button style="width: 100px;" class="btn btn--orange btn--cubic btn--shadow" type="submit" name="create_data">登録</button>
            </div>
            </form>
        </div>
    </div>
</div><!-- <div class="wrapper"> -->