{% extends 'base.html' %}

{% load static %}

{% block title %}SIMS | ホーム画面{% endblock %}

{% block main_contents %}

<main>
    <div class="main-menu1">
        <p class="cap">見出し</p>
        <a href="#" class="box-anchor">
            <div class="btn_09">
                <i class="fas fa-laptop"></i>
                <div>商品</div>
            </div>
        </a>
        <a href="#" class="box-anchor">
            <div class="btn_09">
                <i class="fas fa-random"></i>
                <div>ボトルネック</div>
            </div>
        </a>
        <a href="#" class="box-anchor">
            <div class="btn_09">
                <i class="fas fa-tachometer-alt"></i>
                <div>ベンチマスタ</div>
            </div>
        </a>
        <a href="#" class="box-anchor">
            <div class="btn_09">
                <i class="fas fa-search"></i>
                <div>検索</div>
            </div>
        </a>
        <a href="#" class="box-anchor">
            <div class="btn_09">
                <i class="fas fa-yen-sign"></i>
                <div>売上</div>
            </div>
        </a>
        <a href="#" class="box-anchor">
            <div class="btn_09">
                <i class="fas fa-laptop"></i>
                <div>在庫</div>
            </div>
        </a>
        <a href="#" class="box-anchor">
            <div class="btn_09">
                <i class="fas fa-boxes"></i>
                <div>取置</div>
            </div>
        </a>
        <a href="#" class="box-anchor">
            <div class="btn_09">
                <i class="far fa-sticky-note"></i>
                <div>見積</div>
            </div>
        </a>
    </div>
    <div class="main-menu">
        <div class="main-menu2">
            <p class="cap">人事</p>
            <a href="#" class="box-anchor">
                <div class="btn_07">
                    <i class="fas fa-book-open"></i>
                    <div>従業員</div>
                </div>
            </a>
            <a href="#" class="box-anchor">
                <div class="btn_07">
                    <i class="fas fa-street-view"></i>
                    <div>勤務店舗状況</div>
                </div>
            </a>
        </div>
        <div class="main-menu2 sub1">
            <p class="cap">店舗</p>
            <a href="#" class="box-anchor">
                <div class="btn_07 sub1">
                    <i class="fas fa-store-alt"></i>
                    <div>店舗</div>
                </div>
            </a>
        </div>
    <div>
    <!-- <p>アルファベットの最初の3文字は「{ aiueo }}」です。</p> -->
    <!-- <p>wwwの中身は「{ www }}」です。</p> -->
    <!-- <p>djangoの中身は「{ django }}」です。</p> -->
    <!-- <div class="heading"><h1>ホーム画面</h1></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                    <div class="card-body">
                        <form>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                <label for="inputEmail">従業員ID</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="inputPassword" type="password" placeholder="Password" />
                                <label for="inputPassword">パスワード</label>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="btn btn-primary" href="index.html">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</main>

{% endblock %}