<!-- S03-02 商品情報新規登録

    ToDo
        画面の制作お願いします
        画面の確認
        *長谷川 画像プレビュー出しましたが
        *画像選んでないときにNOIMAGE画像を出したかった 力尽きた

        *views.py、forms.pyの埋め込みタグを記述
        *画面の確認
        *画面のスタイル最終調整
        *最終確認(新満)
-->
{% extends 'base.html' %}
{% load static %}
{% block title %}SIMS | 商品情報新規登録{% endblock %}
{% block main_contents %}

<head>
    <script>
        function imgPreView(event) {
            var file = event.target.files[0];
            var reader = new FileReader();
            var preview = document.getElementById("preview");
            var previewImage = document.getElementById("previewImage");
            // NO IMAGEアイコンを出したかった
            // img.setAttribute("id", "{% static 'assets/img/noimage-icon'%}");
            if (previewImage != null) {
                preview.removeChild(previewImage);
            }
            reader.onload = function (event) {
                var img = document.createElement("img");
                img.setAttribute("src", reader.result);
                img.setAttribute("id", "previewImage");
                preview.appendChild(img);
            };
            reader.readAsDataURL(file);
        }
    </script>
</head>

<body>
    <div class="container-fluid px-4">
        <h1 class="mt-4"><a class="backlist" href="{% url 'itemmas:S03-01' %}">商品管理</a></h1>
        <div class="edit-ditail-table">
            <div class="st-left">
                <a class="btn btn--orange btn--cubic btn--shadow return" href="{% url 'itemmas:S03-01' %}">一覧に戻る</a>
            </div>
        </div>
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <table class="table">
                {% if form.errors %}
                <div class="errorlist">
                    {% for errors in form.errors.values %}
                    {% for error in errors %}
                    {{ error }}<br>
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
                <table class="registertable-80">
                    <thead class="tablecolumn">
                        <tr>
                            <th class="th-25part">商品画像</th>
                            <td class="th-75part">{{form.item_image}}</td>
                        </tr>
                    </thead>
                </table>
                <table class="registertable">
                    <thead class="tablecolumn">
                        <tr>
                            <th>商品コード</th>
                            <td>{{form.id}}</td>
                            <th>型番</th>
                            <td>{{form.model_number}}</td>
                        </tr>
                        <tr>
                            <th>カテゴリ</th>
                            <td>{{form.category}}</td>
                            <th>仕入価格</th>
                            <td>{{form.purchase_price}}</td>
                        </tr>
                        <tr>
                            <th>在庫場所</th>
                            <td>{{form.store_id}}</td>
                            <th>メーカー名</th>
                            <td>{{form.manufacturer_name}}</td>
                        </tr>
                        <tr>
                            <th>商品写真</th>
                            <td>{{form.item_image}}</td>
                        </tr>
                        <tr>
                            <th>備考</th>
                            <td>{{form.remarks}}</td>
                        </tr>
                        <!-- {form.item_status}} -->

                    </thead>
                </table>
                <div class="placement-center">
                    <button class="btn btn--orange btn--cubic btn--shadow" type="submit">登録</button>
                    <button class="btn btn--orange btn--cubic btn--shadow" type="submit"><a class="a-under-none"
                            href="{% url 'itemmas:S03-05' %}">詳細登録</a></button>
                </div>
            </table>
        </form>
    </div>
</body>
{% endblock %}