<!-- S01-05 従業員情報新規登録

    ToDo
        *画面の制作お願いします
        *

-->
{% extends 'base.html' %}

{% load static %}
{% load in_group %}
{% block title %}SIMS | 勤務状況一覧{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">勤務状況管理</h1>
        <form action="" method="get" class="searchtable">
            <div  style="position: absolute;left: 21%;width: 60%;">
                <input name="query" value="{{ request.GET.query }}" type="text" placeholder="従業員ID">
                <input name="others" value="{{ request.GET.others }}" type="text" placeholder="従業員名">
                {{forms.s_selecter}}
                <button class="btn btn--orange btn--cubic btn--shadow" type="submit">検索する</button>
                <button class="btn btn--orange btn--cubic btn--shadow" onclick="clearFormAll()">クリア</button>
            </div>
            <div style="position: absolute;right: 3%;">
                <a style="width: 100px;" class="modal-btn btn btn--orange btn--cubic btn--shadow">新規登録</a>
            </div>
        </form>
        <!-- クリックされたとき下を表示する -->
        <div class="wrapper">
            <div class="modal js-modal">
                <div class="modal_background js-modal-close"></div>
                <div class="modal_content-w80" style="background-color: #f4eade">
                    <h1 class="mt-4"><a class="backlist" href="{% url 'workstatus:S14-01' %}">
                        {% if user|in_group:"管理者" %}
                        勤務状況管理 新規登録
                        {% else %}
                        勤務状況 新規登録
                        {% endif %}
                    </a></h1>
                    <div class="edit-ditail-table">
                        <div class="st-left">
                            <a class="btn btn--orange btn--cubic btn--shadow return" href="{% url 'workstatus:S14-01' %}">一覧に戻る</a>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="registertable">
                            <thead class="tablecolumn">
                                <tr><th>従業員ID</th><td style="background-color: #FFF;color: black;">{{user.username}}</td></tr>
                                <tr><th>従業員名</th><td style="background-color: #FFF;color: black;">{{user.name}}</td></tr>
                                <tr><th>勤務店舗</th><td>{{form.selecter}}</td></tr>
                            </thead>
                        </table>
                    <div class="placement-center">
                        <a style="width: 100px;" class="js-modal btn btn--orange btn--cubic btn--shadow" href="">戻る</a>
                        <button style="width: 100px;" class="btn btn--orange btn--cubic btn--shadow" type="submit"
                            name="create_data">登録</button>
                    </div>
                    </form>
                </div>
            </div>
        </div><!-- <div class="wrapper"> -->
        <!-- /クリックされたとき下を表示する -->
        <div class="wrapper">
            <div class="modal js-modal2">
                <div class="modal_background js-modal-close"></div>
                <div class="modal_content-w80" style="background-color: #f4eade">
                    <h1 class="mt-4"><a class="backlist" href="{% url 'workstatus:S14-01' %}">
                        {% if user|in_group:"管理者" %}
                        勤務状況管理 新規登録
                        {% else %}
                        勤務状況 新規登録
                        {% endif %}
                    </a></h1>
                    <div class="edit-ditail-table">
                        <div class="st-left">
                            <a class="btn btn--orange btn--cubic btn--shadow return" href="{% url 'workstatus:S14-01' %}">一覧に戻る</a>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="registertable">
                            <thead class="tablecolumn">
                                <tr><th>従業員ID</th><td style="background-color: #FFF;color: black;">{{user.username}}</td></tr>
                                <tr><th>従業員名</th><td style="background-color: #FFF;color: black;">{{user.name}}</td></tr>
                                <tr><th>勤務店舗</th><td>{{form.ws2_selecter}}</td></tr>
                            </thead>
                        </table>
                        <div class="placement-center">
                        <a style="width: 100px;" class="btn btn--orange btn--cubic btn--shadow" href="">戻る</a>
                        <button style="width: 100px;" class="btn btn--orange btn--cubic btn--shadow"
                            name="delete_data">削除</button>
                        <button style="width: 100px;" class="btn btn--orange btn--cubic btn--shadow" type="submit"
                            name="update_data">更新</button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- <div class="wrapper"> -->
            <table class="listtable column-color listthtd-1">
                <thead class="tablecolumn">
                    <tr>
                        <th class="id-tdth">ID</th>
                        <th>従業員ID</th>
                        <th>従業員名</th>
                        <th>連絡先</th>
                        <th>雇用形態</th>
                        <th>現在の勤務店舗</th>
                    </tr>
                </thead>
                {% for item in object_list %}
                <!-- string_link -->
                <tr tr-link="ws">
                    <td class="id-tdth"></td>
                    <td>{{item.employee_id.username}}</td>
                    <td>{{item.employee_id.name}}</td>
                    <td>{{item.employee_id.tel_num}}</td>
                    <td>{{item.employee_id.get_employment_status_display}}</td>
                    <td>{{item.store_id}}</td>
                </tr>
                {% empty %}
            </table>
            <h3 style="text-align: center;">一致するデータがありませんでした</h3>
            {% endfor %}
            </table>
            {# ページネーション処理 #}
            {% include 'pagenavigation2-1.html' %}
    </div>
    </table>

</main>

{% endblock %}

{% block extrajs %}
<script src="{% static 'js/form.js' %}"></script>
<script>
    jQuery(function ($) {
        //data-hrefの属性を持つtrを選択しclassにclickableを付加
        $('tr[tr-link]').addClass('clickable')
            //クリックイベント
            .click(function (e) {
                $('.js-modal2').fadeIn();
                return false;

            });
        $('.modal-close-btn2').on('click', function () {
            $('.js-modal2').fadeOut();
            return false;
        });
    });

    $(function () {
        $('.modal-btn').on('click', function () {
            $('.js-modal').fadeIn();
            return false;
        });
        $('.modal-close-btn').on('click', function () {
            $('.js-modal').fadeOut();
            return false;
        });
    });
</script>
{% endblock %}