{% extends 'base.html' %} {% block main_contents %}
<h2>記事一覧</h2>
<div id="posts">
  {% for post in object %}
  <p>{{ post.id }}</p>
  {% endfor %}
</div>

<hr />

<h2>記事の検索</h2>
<form
  id="ajax-search-post"
  action="{% url 'estimate:ajax_post_search' %}"
  method="GET"
>
  <input type="text" id="id_title" />
  <button type="submit">検索</button>
</form>

{% endblock %} {% block extrajs %}
<script>
  // 送信ボタンで呼ばれる
  $("#ajax-search-post").on("submit", (e) => {
    // デフォルトのイベントをキャンセルし、ページ遷移しないように!
    e.preventDefault();

    $.ajax({
      url: '{% url "estimate:ajax_post_search" %}',
      type: "GET",
      data: {
        title: $("#id_title").val(), // 記事タイトル
      },
      dataType: "json",
    }).done((response) => {
      // 記事欄を真っ白にする。
      $("#posts").empty();

      // タイトルの一覧を順に取り出す
      for (const title of response.title_list) {
        // <p>タイトル</p>を作成し、記事一覧に追加していく。
        const p = $("<p>", { text: title });
        $("#posts").append(p);
      }
    });
  });
</script>
{% endblock %}
