{% extends 'base.html' %}

{% load static %}

{% block title %}SIMS | 従業員情報新規登録画面{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4"><a class="backlist" href="{% url 'employeemas:S01-01' %}">従業員情報新規登録</a></h1>    
        <div class="row">
        <div class="card mb-4">
                <!-- <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    従業員情報新規登録
                </div> -->
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                    <table class="table">
                        {% if form.errors %}
                        <div class="errorlist">
                            {% for errors in form.errors.values %}
                            {% for error in errors %}
                            {{ error }}<br>
                            {% endfor %}
                            {% endfor %}
                        </div>
                        {% endif %}


                    </table>
                <div class="card-body">
                    <table class="registertable">
                        <thead class="tablecolumn">
                            <!-- <tbody> -->
                                <tr>
                                    <th>従業員ID</th>
                                    <td>{{ form.username }}</td>
                                    <!-- あとで[店舗] + [個人番号] +a で作る -->
                                </tr>
                                <tr>
                                    <th>従業員名</th>
                                    <td>{{ form.name }}</td>
                                </tr>
                                <tr>
                                    <th>従業員名(カナ)</th>
                                    <td>{{ form.ruby_name }}</td>
                                </tr>
                                <tr>
                                    <th>電話番号</th>
                                    <td>{{ form.tel_num }}</td>
                                </tr>
                                <tr>
                                    <th>性別</th>
                                    <!-- <td>{{ form.gender }</td> -->
                                    <td>
                                    {% for radiobutton in form.gender %}
                                    {{ radiobutton }}
                                    {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>生年月日</th>
                                    <td>{{ form.birthday }}</td>
                                </tr>
                                <tr>
                                    <th>所属店舗</th>
                                    <td>{{ form.store_id }}</td>
                                </tr>
                                <tr>
                                    <th>雇用形態</th>
                                    <td>{{ form.employment_status }}</td>
                                </tr>
                                <tr><th>パスワード</th><td>{{form.password1}}</td></tr>
                            <!-- </tbody> -->
                        </thead>
                    </table>
                </div>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="placement-center">
                    <button class="btn btn--orange btn--cubic btn--shadow" type="submit">新規登録</button>
                </div>
            </form>
        </div>
    </div>
</div>
</main>

{% endblock %}

{% block extrajs %}
<script>
    $(function () {
        // 日付は、年-月-日 の形式でお願いする。
        let dateFormat = 'yy-mm-dd';
        $('#id_birthday').datepicker({
            dateFormat: dateFormat,
            changeYear: true,  // 年選択をプルダウン化
            changeMonth: true,  // 月選択をプルダウン化
            yearRange: "-60:+1" // 現在日付の２年前～５年後まで選択可能
        });
    });
</script>
{% endblock %}