<!-- S01-03 従業員詳細画面

    ToDo
        *画面の制作お願いします
        *

-->
{% extends 'base.html' %}

{% block title %}SIMS | 従業員詳細画面{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4"><a class="backlist" href="{% url 'employeemas:S01-01' %}">従業員管理</a></h1>
        <div class="row">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    従業員情報詳細
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="{% url 'employeemas:S01-01' %}">戻る</a>
                    <table class="detailtable">
                        <thead class="tablecolumn">
                            <tbody>
                                <tr><th>従業員ID</th><td style="width:100%">{{ object.username }}</td></tr>
                                <tr><th>従業員名</th><td>{{ object.name }}</td></tr>
                                <tr><th>従業員名(カナ)</th><td>{{ object.ruby_name }}</td></tr>
                                <tr><th>電話番号</th><td>{{ object.tel_num }}</td></tr>
                                <tr><th>性別</th><td>{{ object.get_gender_display }}</td></tr>
                                <tr><th>生年月日</th><td>{{ object.birthday }}</td></tr>
                                <tr><th>所属店舗</th><td>{{ object.store_id }}</td></tr>
                                <tr><th>雇用形態</th><td>{{ object.get_employment_status_display }}</td></tr>
							</tbody>
                        </thead>
                    </table>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="center-button">
                            <a class="btn btn-primary" href="{% url 'employeemas:S01-04' object.pk %}">編集</a>
                            <!-- ↓削除した際、フラグをオフにしたいためいったんコメント -->
                            <!-- <button class="btn btn-primary" type="submit">削除</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}