<!-- S01-04 従業員情報編集

    ToDo
        *画面の制作お願いします
        *

-->
{% extends 'base.html' %}

{% load static %}

{% block title %}SIMS | 従業員情報編集画面{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4"><a class="backlist" href="{% url 'employeemas:S01-01' %}">従業員情報編集</a></h1>
        <div class="row">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    従業員情報編集
                </div>
                <div class="card-body">
                    <table class="registertable">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                        <table class="table">
                            
                            <tr>
                                <th>従業員名</th>
                                <td>{{ form.name }}</td>
                            </tr>
                            <tr>
                                <th>従業員名(カナ)</th>
                                <td>{{ form.ruby_name }}</td>
                            </tr>
                            <tr>
                                <th>電話番号</th>
                                <td>{{ form.tel_num }}</td>
                            </tr>
                            <tr>
                                <th>性別</th>
                                <!-- <td>{{ form.gender }</td> -->
                                <td>
                                {% for radiobutton in form.gender %}
                                {{ radiobutton }}
                                {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>生年月日</th>
                                <td>{{ form.birthday }}</td>
                            </tr>
                            <tr>
                                <th>所属店舗</th>
                                <td>{{ form.store_id }}</td>
                            </tr>
                            <tr>
                                <th>雇用形態</th>
                                <td>{{ form.employment_status }}</td>
                            </tr>
                        </table>
                        <div class="center-button">
                            <button class="btn btn-primary" type="submit">更新</button>
                        </div>
                        </form>
                    </table>
                </div>  
            </div>
        </div>
    </div>
</main>

{% endblock %}