<!-- S07-02 セット商品新規登録

    ToDo
        画面の制作お願いします
        *長谷川　CSSも後半scriptもないです

-->

{% extends 'base.html' %}
{% load stock_filter %}
{% load static %}
{% block title %}SIMS | セット商品新規登録{% endblock %}
{% block main_contents %}
<script>
    // 行追加
    function insertRow(id) {
        // テーブル取得
        var table = document.getElementById(id);
        // 行を行末に追加
        var row = table.insertRow(-1);
        // セルの挿入
        var cell1 = row.insertCell(-1);
        var cell2 = row.insertCell(-1);
        var cell3 = row.insertCell(-1);
        var cell4 = row.insertCell(-1);
        var cell5 = row.insertCell(-1);
        // ボタン用 HTML
        var button = '<input type="button" value="削除" onclick="deleteRow(this)" />';
        // 行数取得
        var row_len = table.rows.length;
        // セルの内容入力
        cell1.innerHTML = row_len-1;
        cell2.innerHTML = "//商品コードを取得";
        cell3.innerHTML = "//型番を取得";
        cell4.innerHTML = "//仕入価格を取得";
        cell5.innerHTML = button;
    }
    // 行削除
    function deleteRow(obj) {
        // 削除ボタンを押下された行を取得
        tr = obj.parentNode.parentNode;
        // trのインデックスを取得して行を削除する
        tr.parentNode.deleteRow(tr.sectionRowIndex);
        //　行数をリアルタイムで削除したらカウントし直したかった　断念中↓==================!
        for (let index= 0; index < table.length; index++){
            table[0].cell1=row_len-1;
        }
    }
</script>

<main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">セット商品</h1>
                    <div class="row">
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="fas fa-table me-1"></div>
                                セット商品新規登録
                            </div>
                            <div class="my-container">
                                <div class="left-container">
                                    <!-- <form method="POST" enctype='multipart/form-data' action="{ url 'stock:S07-02regi' %}"> -->
                                    <!-- <form method="POST" enctype='multipart/form-data'> -->
                                    <form action="" method="get">
                                            {% if form.errors %}
                                            <div class="errorlist">
                                                {% for errors in form.errors.values %}
                                                {% for error in errors %}
                                                {{ error }}<br>
                                                {% endfor %}
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                            
                                        <div class="card-body">
                                            <table class="registertable">
                                                <thead class="tablecolumn">
                                                    <tbody>
                                                        <tr>
                                                            <th>セット名</th>
                                                            <td>{{form.set_name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>店舗名</th>
                                                            <td>{{form.store_id}}</td>
                                                        </tr>
                                                        
                                                        {# カテゴリ #}
                                                        <tr>
                                                            <th>ノートPC</th>
                                                            <td>
                                                                
                                                                <select name="notePC">
                                                                    <option value    selected>---------</option>
                                                                    {%for item in 0|category_filter%}
                                                                    <option>
                                                                        {{item}}
                                                                    </option>
                                                                    {%endfor%}
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>デスクトップ</th>
                                                            <td>
                                                                <select name="decttop">
                                                                    <option value selected>---------</option>
                                                                    {%for item in 1|category_filter%}
                                                                        <option>
                                                                            {{item}}
                                                                        </option>
                                                                    {%endfor%}
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>モニター</th>
                                                            <td>
                                                                <select name="monitor">
                                                                    <option value selected>---------</option>
                                                                    {%for item in 2|category_filter%}
                                                                        <option>
                                                                            {{item}}
                                                                        </option>
                                                                    {%endfor%}
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>メモリ</th>
                                                            <td>
                                                                <select name="memory">
                                                                    <option value selected>---------</option>
                                                                    {%for item in 3|category_filter%}
                                                                        <option>
                                                                            {{item}}
                                                                        </option>
                                                                    {%endfor%}
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>HDD</th>
                                                            <td>
                                                                <select name="hdd">
                                                                    <option value selected>---------</option>
                                                                    {%for item in 4|category_filter%}
                                                                        <option>
                                                                            {{item}}
                                                                        </option>
                                                                    {%endfor%}
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>SDD</th>
                                                            <td>
                                                                <select name="ssd">
                                                                    <option value selected>---------</option>
                                                                    {%for item in 5|category_filter%}
                                                                        <option>
                                                                            {{item}}
                                                                        </option>
                                                                    {%endfor%}
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Office</th>
                                                            <td>
                                                                <select name="office">
                                                                    <option value selected>---------</option>
                                                                    {%for item in 6|category_filter%}
                                                                        <option>
                                                                            {{item}}
                                                                        </option>
                                                                    {%endfor%}
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>その他</th>
                                                            <td>
                                                                <select name="others">
                                                                    <option value selected>---------</option>
                                                                    {%for item in 7|category_filter%}
                                                                        <option>
                                                                            {{item}}
                                                                        </option>
                                                                    {%endfor%}
                                                                </select>
                                                            </td>
                                                        </tr>
                                                
                                                    </tbody>
                                                </thead>
                                            </table>
                                            <br>
                                        </div>
                                        {#テスト用#}
                                        <!-- <button class="btn btn-primary mt-5" name="button_1 " type="submit">テスト用登録</button> -->
                                        <button class="btn btn-primary mt-5" type="submit" name="button_1">新規登録</button>
                                        <button class="btn btn-primary mt-5" type="submit" onclick="clearFormAll()">クリア</button>
                                    </form>

                                    <!-- <form method="POST" enctype='multipart/form-data'>
                                        {% csrf_token %}
                                            {% if form.errors %}
                                            <div class="errorlist">
                                                {% for errors in form.errors.values %}
                                                {% for error in errors %}
                                                {{ error }}<br>
                                                {% endfor %}
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                        <div class="card-body">
                                            <table class="registertable">
                                                <thead class="tablecolumn">
                                                    <tbody>
                                                    </tbody>
                                                </thead>
                                            </table>
                                        </div>
                                        <button class="btn btn-primary mt-5" type="submit" name="button_1">新規登録</button>
                                    </form> -->
                                    <!-- <form method="post" action="{url 'stock:S07-02test'}">
                                        {%csrf_token%}
                                        {{store_id}}
                                        <!-- <button class="btn btn-primary mt-5" type="submit" name="button_1">新規登録</button> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>



{% endblock %}
{% block extrajs %}
{# 新満追記 #}
<script></script>
{% endblock %}

<!-- セット名・取置店舗名・商品一覧 -->
<!-- <div class="card-body">
    <table class="registertable">
        <thead class="tablecolumn">
            <tbody>
                <tr>
                    <th>セット名</th>
                    <td>{{ form.set_name }}</td>
                    あとで[店舗] + [個人番号] +a で作る -->
                <!-- </tr>
                <tr>
                    <th>取置店舗名</th>
                    <td>{{ form.store_id }}</td>
                </tr> -->
                
                <!-- セットの内容を設定する -->
                <!-- <tr>
                    <th>セット名</th>
                    <td>{{ form.set_item }}</td>
                </tr>
            </tbody>
        </thead>
    </table>
    <br>
</div> -->


<!-- <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                        {% if form.errors %}
                        <div class="errorlist">
                            {% for errors in form.errors.values %}
                            {% for error in errors %}
                            {{ error }}<br>
                            {% endfor %}
                            {% endfor %}
                        </div>
                        {% endif %}
                <div class="card-body">
                    <table class="registertable">
                        <thead class="tablecolumn">
                            <tbody>
                                <tr>
                                    <th>セット名</th>
                                    <td>{{ form.set_name }}</td>
                                    <!-- あとで[店舗] + [個人番号] +a で作る -->
                                <!--</tr>
                                <tr>
                                    <th>取置店舗名</th>
                                    <td>{{ form.store_id }}</td>
                                </tr>
                                <tr>
                                    <th>商品コード</th>
                                    <td>{{ form.id }}</td>
                                </tr>
                            </tbody>
                        </thead>
                    </table>
                </div>
                <button class="btn btn-primary" type="submit">新規登録</button>
            </form> -->










            <!-- オリジナル -->

            <!-- <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">セット商品</h1>
                    <div class="row">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                セット商品新規登録
                            </div>
                            <div class="my-container">
                                <div class="left-container">
                                    <table class="parallel">
                                        <tr>
                                            <th><label for="set-name">セット名　　：</label></th>
                                            <td><input type="text" id="set-name" placeholder="セット名"></td>
                                        </tr>
                                        <tr>
                                            <th><label for="reserve-store">取置店舗名：</label></th>
                                            <td>
                                                <select name="" id="reserve-store" class="">
                                                    <option value="A" selected>店舗A</option>
                                                    <option value="B" selected>店舗B</option>
                                                    <option value="C" selected>店舗C</option>
                                                    <option value="" selected>-</option>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="set-name">商品コード：</label></th>
                                            <td><input type="text" id="set-name" placeholder="商品コード"></td>
                                        </tr>
                                    </table>
                                    <div class="center-button">
                                    <input type="button" class="btn btn-primary" value="追加" onclick="insertRow('sample1_table')" />                            
                                    </div>
                                </div>
                                <div class="right-container">
                                    <table id="sample1_table">
                                        <tr>
                                            <td>商品数</td>
                                            <td>商品コード</td>
                                            <td>型番</td>
                                            <td>仕入価格</td>
                                        </tr>
                                    </table>
                                    <p>商品数　2個　　　　　　　合計　800円</p>
                                    <input type="button" class="btn btn-primary" value="新規登録">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main> -->
            <!-- /オリジナル -->