<!-- S-06-01 mas_bottleneck_list

    ToDo
        *画面の制作お願いします
        *

-->
{% extends 'base.html' %}

{% load static %}

{% block title %}SIMS | ボトルネック一覧画面{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">ボトルネック一覧</h1>
        <div class="row">
            <div class="card mb-4">
                <!-- <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    ボトルネック一覧
                </div> -->
                <div class="card-body">
                    <table frame="void">
                        <tr>
                            <td>
                                <form action="" method="get">
                                    <input name="query" value="{{ request.GET.query }}" type="text">
                                    ×
                                    <!-- <input name="query" value="{ request.GET.query }}" type="text"> -->
                                    <button type="submit">検索する</button>
                                    <input type="checkbox" name="stock-only"><label>在庫に限定する</label>
                                    <a class="btn btn-main" href="{% url 'bottleneckmas:S06-02' %}">新規登録</a>
                                </form>
                            </td>
                                    </tr>
                                </table>
                                <table class="listtable sub1">
                                    <thead class="tablecolumn">
                            <tr>
                                <th style="width: 16%;">CPU</th>
                                <th style="width: 16%;">GPU</th>
                                <th style="width: 9%;">バランス</th>
                                <th style="width: 9%;">WQHD</th>
                                <th style="width: 10%;">4K解像度</th>
                                <th style="width: 10%;">ゲーム適正</th>
                                <th style="width: 10%;">ゲーム配信</th>
                                <th style="width: 10%;">動画編集</th>
                                <th style="width: 10%;">エンコード</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- bottleneckモデルの一覧を表示 -->
                            {% for item in object_list %}
                            <tr>
                                <td><a href="{% url 'bottleneckmas:S06-03' item.pk %}">{{ item.cpu_name }}</a></td><!--CPU-->
                                <td>{{ item.gpu_name }}</td><!--GPU-->
                                <td>{{ item.get_balance_display }}</td><!--バランス-->
                                <td>{{ item.get_wqhd_display  }}</td><!--WQHD-->
                                <td>{{ item.get_four_k_display  }}</td><!--4K解像度-->
                                <td>{{ item.get_game_appropriate_display  }}</td><!--ゲーム適性-->
                                <td>{{ item.get_game_delivery_display  }}</td><!--ゲーム配信-->
                                <td>{{ item.get_video_editing_display  }}</td><!--動画編集-->
                                <td>{{ item.get_encode_display  }}</td><!--エンコード-->
                            </tr>
                            <!-- DBが空だった場合 -->
                            {% empty %}
                            <p>空です</p>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- ページネーション処理 -->
                    {% if object_list.has_other_pages %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if object_list.has_previous %}
                                    <li><a class="page-link text-primary d-inline-block" href="?page={{ object_list.previous_page_number }}"><<</a></li>
                                {% else %}
                                    <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#"><<</div></li>
                                {% endif %}
                                {% if object_list.has_previous %}
                                    {% if object_list.previous_page_number != 1 %}
                                        <li><a class="page-link text-primary d-inline-block" href="?page=1">1</a></li>
                                        <li>…</li>
                                    {% endif %}
                                    <li><a class="page-link text-primary d-inline-block" href="?page={{ object_list.previous_page_number }}">{{ object_list.previous_page_number }}</a></li>
                                {% endif %}
                                <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ object_list.number }}</div></li>
                                {% if object_list.has_next %}
                                    <li><a class="page-link text-primary d-inline-block" href="?page={{ object_list.next_page_number }}">{{ object_list.next_page_number }}</a></li>
                                    {% if object_list.next_page_number != object_list.paginator.num_pages %}
                                        <li>…</li>
                                        <li><a class="page-link text-primary d-inline-block" href="?page={{ object_list.paginator.num_pages }}">{{ object_list.paginator.num_pages }}</a></li>
                                    {% endif %}
                                {% endif %}
                                {% if object_list.has_next %}
                                    <li><a class="page-link text-primary d-inline-block" href="?page={{ object_list.next_page_number }}">>></a></li>
                                {% else %}
                                    <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">>></div></li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                    <!-- ページネーション処理終了 -->

                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}