<!-- S02-02 店舗情報新規登録

    ToDo
        画面の制作お願いします
        *長谷川

-->
{% extends 'base.html' %}

{% block title %}SIMS | 店舗情報新規登録{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">店舗管理</h1>

        <div class="row">
            <div class="card mb-4">

                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    店舗情報新規登録
                </div>

                <div class="card-body">

                    <table class="store-table">
                        <thead class="tablecolumn">
                     
                            <tr>
                                <th>店舗ID</th>
                                <td>001</td>
                            </tr>
                            <tr>
                                <th>店舗名</th>
                                <td><input type="text" id="uname" name="name" placeholder="店舗名"></td>
                            </tr>
                            <tr>
                                <th>店長</th>
                                <td>
                                    <select name="example">
                                        <option value="選択肢1">青山祐樹</option>
                                        <option value="選択肢2">伊藤平永</option>
                                        <option value="選択肢3">島田孝弘</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>住所</th>
                                <td><input type="text" id="uname" name="name" size=45 placeholder="東京都千代田区西神田1－1－1"></td>
                            </tr>
                            <tr>
                                <th>連絡先</th>
                                <td>
                                    <input type="text" id="uname" name="name" placeholder="000-0000-0000">
                                </td>
                            </tr>
                        </thead>
                  
                    </table>
                    <div class="center-button">
                        <a class="btn btn-primary" href="#">登録</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}