<!-- S03-02 商品情報新規登録

    ToDo
        画面の制作お願いします
        *長谷川

-->

{% extends 'base.html' %}

{% block title %}SIMS | 商品情報新規登録{% endblock %}

{% block main_contents %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">商品管理</h1>

        <div class="row">
            <div class="card mb-4">

                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    商品情報新規登録
                </div>

                <div class="itemmas-table item-table">
                    <div class="item-image">
                        <img border="1" class="image-content" src="../images/img001.gif" width="128px" height="128px" alt="イラスト1">

                    </div>
                    <input type="file">
                    
                    <h2>型番</h2>
                        <table>
                            <thead class="tablecolumn">
                        
                                <tr>
                                    <th>商品コード</th>
                                    <td><input type="text" id="uitem-code" name="item-code" placeholder="商品コード"></td>
                                    <th>型番</th>
                                    <td><input type="text" id="" name="" placeholder="型番"></td>
                                </tr>
                                <tr>
                                    <th>カテゴリ</th>
                                    <td>
                                        <select name="category" class="categorylist">
                                            <option value="note">ノートPC</option>
                                            <option value="cpu">CPU</option>
                                            <option value="gpu">GPU</option>
                                            <option value="pc">PC</option>
                                            <option value="" selected>-</option>
                                    </td>
                                    <th>仕入価格</th>
                                    <td><input type="text" id="" name="" placeholder="仕入価格"></td>
                                </tr>
                                <tr>
                                    <th>在庫場所</th>
                                    <td>
                                        <select name="balance_score" class="scorelist">
                                            <option value="A">店舗A</option>
                                            <option value="B">店舗B</option>
                                            <option value="C">店舗C</option>
                                            <option value="" selected>-</option>
                                    </td>
                                    <th>備考</th>
                                    <td><input type="text" id="" name="" placeholder="備考"></td>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="itemmas-table spec-table">
                        <table>
                            <thead class="tablecolumn">
                                <tr>
                                    <th>メーカー</th>
                                    <td><input type="text" id="" name="" placeholder="メーカー"></td>
                                    <th>モニタサイズ</th>
                                    <td><input type="text" id="" name="" placeholder="モニタサイズ"></td>
                                </tr>
                                <tr>
                                    <th>CPU</th>
                                    <td><input type="text" id="" name="" placeholder="CPU"></td>
                                    <th>モニタ解像度(縦)</th>
                                    <td><input type="text" id="" name="" placeholder="解像度(縦)"></td>
                                </tr>
                                <tr>
                                    <th>HDD</th>
                                    <td><input type="text" id="" name="" placeholder="HDD"></td>
                                    <th>モニタ解像度(横)</th>
                                    <td><input type="text" id="" name="" placeholder="解像度(横)"></td>
                                </tr>
                                <tr>
                                    <th>SSD</th>
                                    <td><input type="text" id="" name="" placeholder="SSD"></td>
                                    <th>カメラ</th>
                                    <td><input type="text" id="" name="" placeholder="カメラ"></td>
                                </tr>
                                <tr>
                                    <th>OS</th>
                                    <td><input type="text" id="" name="" placeholder="OS"></td>
                                    <th>光学ドライブ</th>
                                    <td><input type="text" id="" name="" placeholder="光学ドライブ"></td>
                                </tr>
                                <tr>
                                    <th>Wi-Fi</th>
                                    <td><input type="text" id="" name="" placeholder="Wi-Fi"></td>
                                    <th>グラフィック</th>
                                    <td><input type="text" id="" name="" placeholder="グラフィック"></td>
                                </tr>
                            </thead>
                        </table>
                    <div class="center-button">
                        <a class="btn btn-primary" href="#">登録</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}