<!-- S03-04 商品情報編集

    ToDo
        画面の制作お願いします
        画面の確認
        *views.py、forms.pyの埋め込みタグを記述
        *画面の確認
        *画面のスタイル最終調整
        *最終確認(新満)

-->

{% extends 'base.html' %}

{% block title %}SIMS | 商品情報編集{% endblock %}

{% block main_contents %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">商品管理</h1>

        <div class="row">
            <div class="card mb-4">

                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    商品情報編集
                </div>

                <div class="itemmas-table item-table">
                    <h2>型番</h2>
                    <form method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        
                        <div class="itemmas-table item-table">
                            {% if form.errors %}
                            <div class="errorlist">
                                {% for errors in form.errors.values %}
                                {% for error in errors %}
                                {{ error }}<br>
                                {% endfor %}
                                {% endfor %}
                            </div>
                            {% endif %}
                            <table class="listtable sub2">
                                <thead class="tablecolumn">
                                    <tr><th>商品コード</th><td>{{object.pk}}</td></tr>
                                    <tr>
                                        <th>カテゴリ</th><td>{{form.category}}</td>
                                    </tr>
                                    <tr>
                                        <th>仕入価格</th><td>{{form.purchase_price}}</td>
                                    </tr>
                                    <tr>
                                        <th>在庫場所</th><td>{{form.store_id}}</td>
                                    </tr>
                                    <tr><th>メーカー名</th><td>{{form.manufacturer_name}}</td></tr>
                                    <tr><th>商品画像</th><td>{{form.item_image}}</td></tr>
                                    <tr><th>型番</th><td>{{form.model_number}}</td></tr>
                                    <tr>
                                        <th>備考</th><td>{{form.remarks}}</td>
                                    </tr>
                                </thead>
                            </table>
                            <div class="placement-center">
                                <button class="btn btn-main" type="submit">登録</button>
                                <!-- <button class="btn btn-primary" type="submit"><a href="#{ url 'itemmas:S03-05' %}">詳細登録</a></button> -->
                            </div>
                        </table>
                    </form>   
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}