{% extends 'base.html' %}


{% block title %}SIMS | 従業員編集画面{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">従業員管理</h1>

        <div class="row">
            <div class="card mb-4">

                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    従業員情報詳細
                </div>

                <div class="card-body">

                    <table class="employee-table">
                        <thead class="tablecolumn">
                     
                            <tr>
                                <th>従業員ID</th>
                                <td>38000513</td>
                            </tr>
                            <tr>
                                <th>従業員名</th>
                                <td>田中太郎</td>
                            </tr>
                            <tr>
                                <th>従業員名(カナ)</th>
                                <td>タナカタロウ</td>
                            </tr>
                            <tr>
                                <th>電話番号</th>
                                <td>000-0000-0000</td>
                            </tr>
                            <tr>
                                <th>性別</th>
                                <td>
                                    <label>男性</label>
                                </td>
                            </tr>
                            <tr>
                                <th>生年月日</th>
                                <td>2000/08/09</td>
                            </tr>
                            <tr>
                                <th>所属店舗</th>
                                <td>
                                    店舗A
                                </td>
                            </tr>
                            <tr>
                                <th>雇用形態</th>
                                <td>
                                    非正規社員
                                </td>
                            </tr>
                        </thead>
                  



                    </table>
                    <div class="center-button">
                        <a class="btn btn-primary" href="#">編集</a>
                        <a class="btn btn-primary" href="#">削除</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}