<!-- S10-01 見積

    ToDo
        画面の制作お願いします
        *画面の確認
        *views.py、forms.pyの埋め込みタグを記述
        *画面の確認
        *画面のスタイル最終調整
        *最終確認(新満) 
        
-->
{% extends 'base.html' %}

{% load static %}
{% load in_group %}

{% block title %}SIMS | 見積{% endblock %}

{% block main_contents %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">
            {% if user|in_group:"管理者" %}
            見積管理
            {% else %}
            見積
            {% endif %}
        </h1>
        <!-- <form method="POST" name="form"> -->
        {# csrf_token #}
        {# 客用はJSで表示非表示にする #}
        <!-- <div class="p1 placement-right">
            <input style="width: 170px;" class="btn btn--orange btn--cubic btn--shadow estimate" type="button" value="お客様用見積画面へ" onclick="clickBtn1()" />
            <a class="btn btn--orange btn--cubic btn--shadow estimate" href="#">お客様用見積画面へ</a>
        </div> -->
        <div class="itemsearchtable">
            <div class="searchtable-input">
                <p style="text-align: left;">検索条件</p>
                <form name="selectitemform" id="ajax_ch_servings" action="{% url 'estimate:ajax_ch_servings'%}" method="GET">
                    カテゴリ
                    {{form.category}}
                    型番
                    <select id="selectbox1" class="input" name="selmodeln">
                        <option value="">型番を選択してください</option>
                    </select>
                    商品コード
                    <select id="selectbox2" class="input" name="selitemc" onchange='document.getElementById("ch_servings_submit").click();'>
                        <option value="">商品コードを選択してください</option>
                    </select>
                    <input style="display: none;" type="submit" value="送信" id="ch_servings_submit">
                </form>
                <!-- <form name="selectitemform" id="ajax_ch_servings2" action="{# url 'estimate:ajax_ch_servings'%}" method="GET">
                    商品コードで検索
                    <input type="text" id="item_code_input" placeholder="商品コードを入力して下さい" onchange='document.getElementById("ch_servings_submit").click();'>
                    <input style="display: none;" type="submit" value="送信" id="ch_servings_submit">
                </form> -->
            </div> <!-- <div class="searchtable-input"> -->
        </div> <!-- <div class="itemsearchtable"> -->


        <!-- <table class="listtable sub3" id="p1"> -->
        <table style="width:100%; margin-bottom: 70px;" class="estimatetable" id="esttable">
            <thead class="tablecolumn">
                <tr>
                    <th style="width:13;">商品コード</th>
                    <th style="width:25%;">型番</th>
                    <th style="width:15%;">販売価格</th>
                    <th style="width:15%;">仕入価格</th>
                    <th style="width:15%;">粗利</th>
                    <th style="width:8%;">粗利率</th>
                    <th style="width:9%;">取消</th>
                </tr>
            </thead>



            <!-- </table>
        <table border="1" id="targetTable">
            <thead>
                <tr>
                    <td>名前</td>
                    <td>年齢</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>鈴木</td>
                    <td>12</td>
                </tr>
            <tbody> -->
        </table>
        <!-- <table class="ProductTable">
            <b>実行結果</b>
            <p></p>
            <p>{# post_hidden_data }}</p>

            {{view_tamesi#}
            
        </table> -->
        <div id="result"></div>
        <div class="onoffields">
            <h3 class=""><i class="fas fa-shopping-cart"></i> <span id="kosuu"></span>/<span id="nedan"></span>円</h3>
        </div>
        <p class="dis-non-tdth">id：<span id="id"></span></p>
        <p class="dis-non-tdth">title：<span id="title"></span></p>
        <p class="dis-non-tdth">json：<span id="json"></span></p>
    </div>
</main>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/estimate.js' %}"></script>
<script>
    //初期表示は非表示
    // document.getElementsByClassName("p1").style.display = "block";

    // function clickBtn1() {
    //     const p1 = document.getElementsByClassName("p1")[0];

    //     if (p1.style.display == "block") {
    //         // noneで非表示
    //         p1.style.display = "none";
    //     } else {
    //         // blockで表示
    //         p1.style.display = "block";
    //     }
    // }
    $(function () {
        var value = 300; // りんごの単品価格
        var maxNum = 100; // 注文できる個数の上限
        var tagInput = $('#101240004'); // 入力対象のinputタグID名
        var tagOutput = $('#1012400042'); // 出力対象のinputタグID名
        tagInput.on('change', function () {
            var str = $(this).val();
            var num = Number(str.replace(/[^0-9]/g, '')); // 整数以外の文字列を削除
            if (num == 0) {
                num = '';
            } else if (num > maxNum) { // 上限を超える個数を入力した場合
                num = maxNum;
            }
            $(this).val(num);
            if (num != 0) {
                var price = num * value;
                tagOutput.val(price);
            }
        });
    });
</script>



<script>
    $('#ajax_ch_servings').on('submit', e => {
        e.preventDefault();

        $.ajax({
            'url': '{% url "estimate:ajax_ch_servings" %}',
            'type': 'GET',
            'data': {
                // 'servings': $('#id_servings').val(),
                'item_code': $('#selectbox2').val(),
                // 'item_code': $('#item_code_input').val(),
            },
            'dataType': 'json'
        }).done(response => {
            $('#id_ingredient').empty();
            // alert(response.datalist)
            var selecteddata = response.datalist[0];
            // alert(JSON.stringify(selecteddata));
            var item_code = JSON.stringify(selecteddata.item_code).replace(/"/g, '');
            var model_number = JSON.stringify(selecteddata.model_number).replace(/"/g, '');
            var purchase_price = JSON.stringify(selecteddata.purchase_price).replace(/"/g, '');
            var gross_profit_margin = 0.4;
            var selling_price = parseInt(parseInt(purchase_price) * (1 + gross_profit_margin));
            var gross_profit = selling_price - parseInt(purchase_price);
            // * parseInt()
            // var item = JSON.parse(dataname);
            var table = document.getElementById('esttable');
            // 行を行末に追加
            var row = table.insertRow(-1);
            // セルの挿入
            var cell1 = row.insertCell(-1);
            var cell2 = row.insertCell(-1);
            var cell3 = row.insertCell(-1);
            var cell4 = row.insertCell(-1);
            var cell5 = row.insertCell(-1);
            var cell6 = row.insertCell(-1);
            var cell7 = row.insertCell(-1);
            // ボタン用 HTML
            // onChange
            // .toLocaleString() 三桁 カンマ区切り

            var button = '<input type="button" value="削除" onclick="deleteRow(this)" />';
            // var in_pp = purchase_price + '¥';
            var in_pp = '¥' + purchase_price;
            var in_gpm = '<input name="in_gpm" style="width:40px; border: none; outline: none;" type="number" oninput="value = onlyNumbers(value)" value="' + String(gross_profit_margin * 100) + '" onChange="chengecell(this)"/>%';
            // var in_gp = gross_profit + '¥';
            var in_gp = '¥' + gross_profit;
            var in_sp = '¥<input name="in_sp" style="width:100px; border: none; outline: none;" type="number" oninput="value = onlyNumbers(value)" value="' + selling_price + '" onChange="chengecell(this)"/>';
            // c5.setAttribute("value",valuetamesi);

            // 行数取得
            var row_len = table.rows.length;
            // var name = JSON.stringify(ingredient.item_code)
            // セルの内容入力
            cell1.innerHTML = item_code;
            cell2.innerHTML = model_number;
            cell3.innerHTML = in_sp;
            cell4.innerHTML = in_pp;
            cell5.innerHTML = in_gp
            cell6.innerHTML = in_gpm;
            cell7.innerHTML = button;
            cell1.classList.add('th-13part');
            cell2.classList.add('th-20part');
            cell3.classList.add('th-15part');
            cell4.classList.add('th-15part');
            cell5.classList.add('th-15part');
            cell6.classList.add('th-13part');
            cell7.classList.add('th-9part');
            // getTableData();
            document.getElementById("nedan").textContent = countsp();
            document.getElementById("kosuu").textContent = countrow(table);
            
        });
    });

    // $(function () {
    //     var areaList;
    //     var cityList;
    //     var jsondata = document.getElementById('json');
    //     alert(jsondata);
    //     areaList = data.areaList;
    //     for (var i in areaList) {
    //         $("#selectbox1").append("<option value=" + areaList[i].areaNumber + ">" + areaList[i].areaName + "</option>");
    //     }
    //     $("#selectbox1").on('change', function () {
    //         var v = $(this).val();
    //         var area = areaList.filter(function (x) {
    //             return x.areaNumber == v;
    //         });
    //         $("#selectbox2 option:gt(0)").remove();
    //         if (area.length > 0) {
    //             cityList = area[0].cityList;
    //             for (var i in cityList) {
    //                 $("#selectbox2").append("<option value=" + cityList[i].cityNumber + ">" + cityList[i].cityName + "</option>");
    //             }
    //         }
    //     });
    //     $("#selectbox2").on('change', function () {
    //         var sel1 = $("#selectbox1").val();
    //         var area = areaList.filter(function (x) {
    //             return x.areaNumber == sel1;
    //         });
    //         var v = $(this).val();
    //         var city = cityList.filter(function (x) {
    //             return x.cityNumber == v;
    //         });
    //         $("#selectbox3 option:gt(0)").remove();
    //         if (city.length > 0) {
    //             cityList = area[0].cityList;
    //             storeList = city[0].storeList;
    //             for (var i in storeList) {
    //                 $("#selectbox3").append("<option value=" + cityList[sel1].storeList[i].storeNumber + ">" + cityList[sel1].storeList[i].storeName + "</option>");

    //             }
    //         }
    //     });
    // });


    function chengecell(obj) {
        tr = obj.parentNode.parentNode;
        trind = tr.sectionRowIndex
        if (obj.name == "in_gpm") {
            // alert('if gpm');
            // alert(obj.parentNode.parentNode.cells[5].getElementsByTagName("input")[0].value)
            var new_gpm = 1 + (parseInt(obj.value) / 100);
            // alert(new_gpm);
            // alert(obj.parentNode.parentNode.cells[3].innerHTML.replace('¥',''));
            // alert(obj.parentNode.parentNode.cells[3].innerHTML);
            var new_sp = parseInt(parseInt(obj.parentNode.parentNode.cells[3].innerHTML.replace('¥', '')) * new_gpm);
            // alert(new_sp);
            var new_gp = new_sp - parseInt(obj.parentNode.parentNode.cells[3].innerHTML.replace('¥', ''));
            // alert(new_gp);
            obj.parentNode.parentNode.querySelector('input[name="in_sp"]').value = new_sp;
            // alert(obj.parentNode.parentNode.cells[4].innerHTML);
            // alert(new_gp.toLocaleString());
            obj.parentNode.parentNode.cells[4].innerHTML = '¥' + new_gp.toLocaleString();

            document.getElementById("nedan").textContent = countsp();
        }
        else if (obj.name == "in_sp") {
            var new_gp = parseInt(obj.value) - parseInt(obj.parentNode.parentNode.cells[3].innerHTML.replace('¥',''));
            var new_gpm = parseInt((new_gp / parseInt(obj.value)) * 100);
            obj.parentNode.parentNode.cells[4].innerHTML = '¥' + new_gp.toLocaleString();
            obj.parentNode.parentNode.querySelector('input[name="in_gpm"]').value = new_gpm;
            document.getElementById("nedan").textContent = countsp();
        }
            
        // alert(obj.name);
        // alert('何行目？'+obj.value);
    }
    // .cells[5].getElementsByTagName("input")[0].value
    // $('tr').chenge(function (event) {
    //     $("#result").html($(this).index() + 1 + "行目をクリックしました。");
    //     var rowIndex = this.rowIndex + 1;
    //     alert(rowIndex);         
    // });
    //     function calcrow(){
    // }
    // $('td').click(function(){
    //     //縦
    //     var row = $(this).closest('tr').index();
    //     //横
    //     var col = this.cellIndex;
    //     alert('Row: ' + row + ', Column: ' + col);
    // });

    let selcategory = document.getElementById('est-category');
    selcategory.addEventListener('change', inputChange);
    let selmodelnum = document.getElementById('selectbox1');
    selmodelnum.addEventListener('change', inputChangemodeln);




    function countsp() {
        var tbl = document.getElementById("esttable"); //テーブルのコントロールを取得
        var pp = 0;
        for (var i = 1; i < tbl.children[0].children.length; i++) { //i=0はヘッダ
            var row = tbl.children[0].children[i]; //tbl.children[0]がthead,tbodyの部分です
            // alert(row.cells[5].getElementsByTagName("input")[0].value); //各行のコードのコントロールの値を出力
            // alert(row.cells[1].getElementsByTagName("input")[0].value); //各行の名称のコントロールの値を出力
            pp += parseInt(row.cells[2].getElementsByTagName("input")[0].value);
        }
        return pp.toLocaleString()
    }

    function getTableData() {
        // 抽出したデータを格納する配列
        let data = [];
        // idでhtmlからtableの要素を取得し、trタグのNodeListを取得
        let table = document.getElementById('esttable');
        let tbl_tr = table.querySelectorAll('tr');
        //テーブルの1行(trタグ)毎に処理
        tbl_tr.forEach(function (tr) {
            //tdタグのNodeListを取得
            let cells = tr.querySelectorAll('td');
            //テーブルのヘッダー部分は飛ばす
            if (cells.length != 0) {
                // テーブルの1行(trタグ)のデータを格納する配列
                let d = [];
                let pp = [];
                //セル(tdタグ)毎に処理
                alert(cells[5].innerHTML);
                cells.forEach(function (td) {
                    //セルがinputタグだった場合
                    if (td.innerHTML.indexOf('input') != -1) {
                        d.push(td.firstElementChild.value);
                    }
                    //セルがtextだった場合
                    else if (td.textContent != "") {
                        d.push(td.textContent);
                    }
                    //セルが空白だった場合
                    else {
                        d.push("");
                    }
                });
                data.push(d);
            }
        });
        alert(typeof data);
        return data
    }


</script>



<script>
    $(function () {
        $.ajax({
            url: "{% url 'estimate:sample-ajax' %}",
            type: "GET",
            dataType: "json",
        })
            .done(function (data) {
                // alert(data);
                // alert(typeof data);
                // success
                //取得jsonデータ
                // var data_stringify = JSON.stringify(data);
                var data_json = JSON.parse(data);
                // alert(typeof data_json[0]);
                // alert(data_json[0]);
                //jsonデータから各データを取得
                var data_id = data_json[1].name;
                // alert(JSON.stringify(data_id));
                var data_title = data_json[1]["model_number"];
                // alert(data_title);
                //出力
                $("#id").text(data_id);
                $("#title").text(data_title);
                $("#json").text(JSON.stringify(data_json));
            })
            .fail(function (data) {
                // error
                alert("error");
                console.log("error");
            });
    });
    let select = document.querySelector('[name="category"]');
</script>

{% endblock %}