<!-- S09-04 取置予約編集

    ToDo
        画面の制作お願いします
        *長谷川

-->

{% extends 'base.html' %}

{% block title %}SIMS | 取置予約編集{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">取置予約</h1>

        <div class="row">
            <div class="card mb-4">

                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    取置予約編集
                </div>

                <div class="card-body">

                    <table class="employee-table">
                        <thead class="tablecolumn">
                            <tr>
                                <th>商品コード</th>
                                <td><input type="text" id="" name="" placeholder="ID" value="29956030"></td>
                            </tr>
                            <tr>
                                <th>型番</th>
                                <td>Raizen 9 5950X</td>
                            </tr>
                            <tr>
                                <th>取置店舗名</th>
                                <td>
                                    <select name="example">
                                        <option value="選択肢1">店舗A</option>
                                        <option value="選択肢2" selected>店舗B</option>
                                        <option value="選択肢3">店舗C</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>予約者氏名(カナ)</th>
                                <td><input type="text" id="" name="" placeholder="ヤマダタロウ" value="中山こうき"></td>
                            </tr>
                            <tr>
                                <th>連絡先</th>
                                <td><input type="text" id="" name="" placeholder="000-0000-0000" value="080-9975-3476"></td>
                            </tr>
                            <tr>
                                <th>予約日時</th>
                                <td><input type="date"></input></td>
                            </tr>
                        </thead>
                    </table>

                    <div class="center-button">
                        <a class="btn btn-primary" href="#">更新</a>
                        <a class="btn btn-primary" href="#">削除</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}