<!-- S02-01 店舗情報一覧

    ToDo
        *画面の制作お願いします
        *

-->
{% extends 'base.html' %}

{% load static %}

{% block title %}SIMS | 店舗一覧画面{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">店舗一覧</h1>
        <!-- <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="# url 'home:index' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol> -->
        <!-- <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">新規登録</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">従業員情報の追加</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <div class="row">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    店舗情報一覧
                </div>
                <div class="card-body">
                    <a class="btn btn-touroku" href="#">新規登録</a>
                    <table class="listtable">
                        <thead class="tablecolumn">
                            <tr>
                                <th>店舗ID</th>
                                <th>店舗名</th>
                                <th>店長</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0100</td>
                                <td>店舗A</td>
                                <td>佐藤太郎</td>
                            </tr>
                            <tr>
                                <td>0200</td>
                                <td>店舗B</td>
                                <td>大原健二</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <table id="datatablesSimple">
                        <thead class="tablecolumn">
                            <div class="tablecolumn2">
                                <tr>
                                    <th>従業員ID</th>
                                    <th>従業員名</th>
                                    <th>店舗</th>
                                </tr>
                            </div>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>従業員ID</th>
                                <th>従業員名</th>
                                <th>店舗</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            
                        </tbody>
                        
                        
                        <tbody>
                            {% for i in object_list %}
                            <tr>
                                <td><a href="# url 'table:table_detail' i.pk %}">{{ i.get_choice_display }}</a></td>
                                <td>{{i.date | date:"Y/m/d"}}</td>
                                <td>{{i.title}}</td>
                                <td>{{i.get_genre_display}}</td>
                                <td>{{i.quanity}}</td>
                                <td>{{ i.money }}¥</td>
                            </a>
                        </tr>
                        {% empty %}
                        <p>テーブルはありません。</p>
                        {% endfor %}
                        </tbody>
                    </table> -->
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}