<!-- S09-03 取置予約詳細

    ToDo
        画面の制作お願いします
        *長谷川

-->

{% extends 'base.html' %}

{% block title %}SIMS | 取置予約詳細{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">取置予約</h1>

        <div class="row">
            <div class="card mb-4">

                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    取置予約詳細
                </div>

                <div class="card-body">

                    <table class="employee-table">
                        <thead class="tablecolumn">
                                <tr><th>商品コード</th><td>{{ object.item_code }}</td></tr>
                                <tr><th>型番</th><td>{{ object.item_code.model_number }}</td></tr>
                                <tr><th>取置店舗名</th><td>{{ object.store_id }}</td></tr>
                                <tr><th>予約者氏名(カナ)</th><td>{{ object.reserver_name }}</td></tr>
                                <tr><th>連絡先</th><td>{{ object.reserver_tel }}</td></tr>
                                <tr><th>予約日時</th><td>{{ object.reserve_at }}</td></tr>
                        </thead>
                    </table>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="center-button">
                            <a class="btn btn-primary" href="{% url 'reserve:S09-04' object.pk %}">編集</a>
                            <!-- <button class="btn btn-primary" type="submit">削除</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}