<!-- S12-01 従業員情報一覧

    ToDo
        画面の制作お願いします
        画面の確認
        *views.py、forms.pyの埋め込みタグを記述
        *画面の確認
        *画面のスタイル最終調整
        *最終確認(新満)

-->

{% extends 'base.html' %}

{% block title %}SIMS | 従業員情報一覧{% endblock %}

{% block main_contents %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">従業員一覧</h1>        
        <div class="row">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    従業員情報一覧
                </div>
                <div class="card-body">
                    <table class="listtable">
                        <thead class="tablecolumn">
                            <tr>
                                <th style="width:50px;" >番号</th>
                                <th>従業員ID</th>
                                <th>従業員名</th>
                                <th>店舗</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- CustomUser -->
                            {% for item in customuser %}
                            <tr>
                                <td style="text-align: center;">{{item.id}}</td>
                                <td><a href="{% url 'employeemas:S01-03' item.pk %}">{{ item.username }}</a></td><!--従業員ID-->
                                <td>{{ item.name }}</td><!--従業員名-->
                                <td>{{ item.store_id.store_name }}</td><!--店舗-->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if customuser.has_other_pages %}
<nav aria-label="Page navigation example">
<ul class="pagination">
{% if customuser.has_previous %}
<li><a class="page-link text-primary d-inline-block" href="?page={{ customuser.previous_page_number }}"><<</a></li>
{% else %}
<li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#"><<</div></li>
{% endif %}
{% if customuser.has_previous %}
{% if customuser.previous_page_number != 1 %}
<li><a class="page-link text-primary d-inline-block" href="?page=1">1</a></li>
<li>…</li>
{% endif %}
<li><a class="page-link text-primary d-inline-block" href="?page={{ customuser.previous_page_number }}">{{ customuser.previous_page_number }}</a></li>
{% endif %}
<li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ customuser.number }}</div></li>
{% if customuser.has_next %}
<li><a class="page-link text-primary d-inline-block" href="?page={{ customuser.next_page_number }}">{{ customuser.next_page_number }}</a></li>
{% if customuser.next_page_number != customuser.paginator.num_pages %}
<li>…</li>
<li><a class="page-link text-primary d-inline-block" href="?page={{ customuser.paginator.num_pages }}">{{ customuser.paginator.num_pages }}</a></li>
{% endif %}
{% endif %}
{% if customuser.has_next %}
<li><a class="page-link text-primary d-inline-block" href="?page={{ customuser.next_page_number }}">>></a></li>
{% else %}
<li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">>></div></li>
{% endif %}
</ul>
</nav>
{% endif %}
<!-- ページネーション処理終了 -->
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}