<!-- S02-04 店舗情報編集

    ToDo
        画面の制作お願いします
        *長谷川

-->
{% extends 'base.html' %}

{% block title %}SIMS | 店舗情報編集{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4"><a class="backlist" href="{% url 'storemas:S02-03' object.pk %}">店舗管理 編集</a></h1>
        <div class="edit-ditail-table">
            <div class="st-left">
                <a class="btn btn--orange btn--cubic btn--shadow return" href="{% url 'storemas:S02-01' %}">一覧に戻る</a>
            </div>
            <div class="st-right">
                <p>最終更新日：{{ object.updated_at }}</p>
            </div>
        </div>
                <form method="POST" enctype="multipart/form-data">
                <table class="registertable">
                    {% csrf_token %}
                    <thead class="tablecolumn">
                        <tbody>
                            <tr>
                                <th>店舗ID</th>
                                <td>{{ object.id }}</td>
                                <th>店舗名</th>
                                <td>{{ form.store_name }}</td>
                            </tr>
                            <tr>
                                <th>場所カテゴリ</th>
                                <td>{{ form.place_category }}</td>
                                <th>連絡先</th>
                                <td>{{ form.tel }}</td>                        
                            </tr>
                            <tr>
                                <th>住所</th>
                                <td>{{ form.address }}</td>
                            </tr>
                        </tbody>
                    </thead>
                </table>
                <div class="placement-center">
                    <a class="btn btn--orange btn--cubic btn--shadow" href="{% url 'storemas:S02-03' object.pk %}">キャンセル</a>
                    <button class="btn btn--orange btn--cubic btn--shadow" type="submit">更新</button>
                </div>
            </form>
                    <!-- <table class="store-table">
                        <thead class="tablecolumn">
                            <tr>
                                <th>店舗ID</th>
                                <td>{{ form.store_id }}</td>
                            </tr>
                            <tr>
                                <th>店舗名</th>
                                <td>{{ form.store_name }}</td>
                            </tr>
                            <tr>
                                <th>場所カテゴリ</th>
                                <td>{{ form.place_category }}</td>                        
                            </tr>
                            <tr>
                                <th>住所</th>
                                <td>{{ form.address }}</td>
                            </tr>
                            <tr>
                                <th>連絡先</th>
                                <td>{{ form.tel }}</td>
                            </tr>
                        </thead>
                    </table>
                    <div class="center-button">
                        <button class="btn btn-primary" type="submit">更新</button>
                    </div> -->

            </div>
        </div>
    </div>
</main>

{% endblock %}