<!-- S-06-03 mas_bottleneck_edit

    ToDo
        *画面の制作お願いします
        *

-->
{% extends 'base.html' %}

{% block title %}SIMS | ボトルネック編集画面{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4"><a class="backlist"   style="text-decoration :none"  href="{% url 'bottleneckmas:S06-01' %}">ボトルネック管理</a></h1>

        <div class="row">
            <div class="card mb-4">

                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    ボトルネック編集
                </div>

                <div  class="score-table">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table">
                            {{ form.as_table }}
                        </table>
                        <div class="center-button">
                            <button class="btn btn-primary" type="submit">更新</button>
                            <a class="btn btn-primary" href="{% url 'bottleneckmas:S06-01'%}">戻る</a>
                        </div>
                    </form>

                    <!-- <table>
                        <thead class="tablecolumn">
                    
                            <tr>
                                <th>CPU</th>
                                <td>
                                    <input type="text" id="ucpu" name="cpu" placeholder="CPU型番" value="Core i7-10700K">
                                </td>

                                <th>GPU</th>
                                <td>
                                    <input type="text" id="ugpu" name="gpu" placeholder="GPU型番" value="RTX2080 Ti">
                                </td>
                            </tr>

                            <tr>
                                <th>バランス</th>
                                <td>
                                    <select name="balance_score" class="scorelist">
                                        <option value="4">◎</option>
                                        <option value="3">○</option>
                                        <option value="2">△</option>
                                        <option value="1">×</option>
                                        <option value="0" selected>-</option>
                                    </select>
                                </td>

                                <th>WQHD</th>
                                <td>
                                    <select name="wqhd_score" class="scorelist">
                                        <option value="4">◎</option>
                                        <option value="3">○</option>
                                        <option value="2">△</option>
                                        <option value="1">×</option>
                                        <option value="0" selected>-</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th>4K</th>
                                <td>
                                    <select name="4k_score" class="scorelist">
                                        <option value="4">◎</option>
                                        <option value="3">○</option>
                                        <option value="2">△</option>
                                        <option value="1">×</option>
                                        <option value="0" selected>-</option>
                                    </select>
                                </td>

                                <th>ゲーム適性</th>
                                <td>
                                    <select name="game_play_score" class="scorelist">
                                        <option value="4">◎</option>
                                        <option value="3">○</option>
                                        <option value="2">△</option>
                                        <option value="1">×</option>
                                        <option value="0" selected>-</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th>ゲーム配信</th>
                                <td>
                                    <select name="game_delivery_score" class="scorelist">
                                        <option value="4">◎</option>
                                        <option value="3">○</option>
                                        <option value="2">△</option>
                                        <option value="1">×</option>
                                        <option value="0" selected>-</option>
                                    </select>
                                </td>

                                <th>動画編集</th>
                                <td>
                                    <select name="videoedit_score" class="scorelist">
                                        <option value="4">◎</option>
                                        <option value="3">○</option>
                                        <option value="2">△</option>
                                        <option value="1">×</option>
                                        <option value="0" selected>-</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th>エンコード</th>
                                <td>
                                    <select name="encode_score" class="scorelist">
                                        <option value="4">◎</option>
                                        <option value="3">○</option>
                                        <option value="2">△</option>
                                        <option value="1">×</option>
                                        <option value="0" selected>-</option>
                                    </select>
                                </td>
                            </tr>
                        </thead>
                    </table>

                    <div class="center-button">
                        <a class="btn btn-primary" href="#">更新</a>
                        <a class="btn btn-primary" href="#">削除</a>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}