{% extends 'base.html' %}

{% load static %}

{% block title %}SIMS | 店舗詳細画面{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <div class="row">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="contents">
                        <div class="item head">
                            <i class="fas fa-table me-1"></i>
                        </div>
                        <div class="item head">
                            店舗情報詳細
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="detailtable">
                        <thead class="tablecolumn">
                            <tbody>
                                <tr>
                                    <th>店舗ID</th>
                                    <td>12345689</td>
                                </tr>
                                <tr>
                                    <th>店舗名</th>
                                    <td>店舗A</td>
                                </tr>
                                <tr>
                                    <th>店長</th>
                                    <td>大原太郎</td>
                                </tr>
                                <tr>
                                    <th>住所</th>
                                    <td>東京都</td>
                                </tr>
                                <tr>
                                    <th>連絡先</th>
                                    <td>000-0000-0000</td>
                                </tr>
                            </tbody>
                        </thead>
                    </table>
                </div>
                <div class="placement-center">
                    <a class="btn btn-main" href="#">編集</a>
                    <a class="btn btn-main" href="#">削除</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}