<!-- S13-02 店舗情報参照

    ToDo
        画面の制作お願いします
        *

-->

{% extends 'base.html' %}

{% block title %}SIMS | 店舗情報参照{% endblock %}

{% block main_contents %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">店舗詳細</h1>
        <!-- <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="# url 'home:index' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol> -->
        <!-- <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">新規登録</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">従業員情報の追加</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <div class="row">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    店舗情報詳細
                </div>
                <div class="card-body">
                    <table class="registertable">
                        <thead class="tablecolumn">
                            <tbody>
                                <tr>
                                    <th>店舗ID</th>
                                    <td>12345689</td>
                                </tr>
                                <tr>
                                    <th>店舗名</th>
                                    <td>店舗A</td>
                                </tr>
                                <tr>
                                    <th>店長</th>
                                    <td>大原太郎</td>
                                </tr>
                                <tr>
                                    <th>住所</th>
                                    <td>東京都</td>
                                </tr>
                                <tr>
                                    <th>連絡先</th>
                                    <td>000-0000-0000</td>
                                </tr>
                            </tbody>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}