<!-- S01-05 従業員情報新規登録

    ToDo
        *画面の制作お願いします
        *

-->
{% extends 'base.html' %}

{% load static %}

{% block title %}SIMS | 勤務状況一覧{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">勤務状況</h1>
        <div class="row">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    勤務状況一覧
                </div>
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <table class="table">
                        {% if form.errors %}
                        <div class="errorlist">
                            {% for errors in form.errors.values %}
                            {% for error in errors %}
                            {{ error }}<br>
                            {% endfor %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </table>
                    
                    
                    
                <div class="card-body">
                    <p>検索項目が入る</p>
                    <div class="st-right">
                        <a style="width: 100px;" class="modal-btn btn btn--orange btn--cubic btn--shadow">登録</a>
                    </div>
                    <table class="registertable">
                        <!-- クリックされたとき下を表示する -->
                    <div class="wrapper">
                        <div class="modal js-modal">
                            <div class="modal_background js-modal-close"></div>
                            <div class="modal_content-w80">
                                <p>従業員ID:{{user.username}}</p>
                                <p>従業員名:{{user.name}}</p>
                                <p>勤務店舗:{{forms.store_id}}</p>
                                <p>勤務状況を登録しますか？</p>
                                <form method="POST" enctype='multipart/form-data'>
                                    {% csrf_token %}
                                    <a style="width: 100px;" class="btn btn--orange btn--cubic btn--shadow" href="">戻る</a>
                                    <button style="width: 100px;" class="btn btn--orange btn--cubic btn--shadow" type="submit" name="delete_data">削除</button>
                                    <button style="width: 100px;" class="btn btn--orange btn--cubic btn--shadow" type="submit" name="create_data">登録</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /クリックされたとき下を表示する -->

                        <thead class="tablecolumn">
                            <tr>
                                <th>従業員ID</th>
                                <th>従業員名</th>
                                <th>連絡先</th>
                                <th>雇用形態</th>
                                <th>現在の勤務店舗</th>
                                
                            </tr>
                        </thead>
                            <tbody>
                                <tr>
                                {% for item in object_list %}
                                <!-- string_link -->
                                <tr>
                                    <td>{{item.employee_id.username}}</td>
                                    <td>{{item.employee_id.name}}</td>
                                    <td>{{item.employee_id.tel_num}}</td>
                                    <td>{{item.employee_id.get_employment_status_display}}</td>
                                    <td>{{item.store_id}}</td>
                                </tr>
                                {% endfor %}
                                </tr>
                            </tbody>
                    </table>
                </div>
                <!-- <button class="btn btn-primary" type="submit">新規登録</button> -->
            </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block extrajs %}
<script>
    $(function(){
        $('.modal-btn').on('click',function(){
        $('.js-modal').fadeIn();
        return false;
    });
    $('.modal-close-btn').on('click',function(){
        $('.js-modal').fadeOut();
        return false;
        });
    });
</script>
{% endblock %}