<!-- S-06-03 mas_bottleneck_edit

    ToDo
        *画面の制作お願いします
        *

-->
{% extends 'base.html' %}

{% block title %}SIMS | ボトルネック編集画面{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4"><a class="backlist" href="{% url 'bottleneckmas:S06-01' %}">ボトルネック管理</h1>
        <div class="searchtable">
            <div class="st-left">
                <a class="btn btn--orange btn--cubic btn--shadow return" href="{% url 'bottleneckmas:S06-01' %}">一覧に戻る</a>
            </div>
            <div class="st-right">
                <p>最終更新日：{{ object.updated_at }}</p>
            </div>
        </div>
        <div class="score-table">
            <form method="POST" enctype="multipart/form-data">
                <table class="registertable">
                    {% csrf_token %}
                    <thead class="tablecolumn">
                    <tbody>
                        <tr>
                            <th>CPU名称</th>
                            <td>{{ form.cpu_name }}</td>
                            <th>GPU名称</th>
                            <td>{{ form.gpu_name }}</td>
                        </tr>
                        <tr>
                            <th>バランス</th>
                            <td>{{ form.balance }}</td>
                            <th>WQHD</th>
                            <td>{{ form.wqhd }}</td>
                        </tr>
                        <tr>
                            <th>4K解像度</th>
                            <td>{{ form.four_k }}</td>
                            <th>ゲーム適正</th>
                            <td>{{ form.game_appropriate }}</td>
                        </tr>
                        <tr>
                            <th>ゲーム配信</th>
                            <td>{{ form.game_delivery }}</td>
                            <th>動画編集</th>
                            <td>{{ form.video_editing }}</td>
                        </tr>
                        <tr>
                            <th>エンコード</th>
                            <td>{{ form.encode }}</td>
                        </tr>
                    </tbody>
                    </thead>
                </table>
                <div class="placement-center">
                    <a class="btn btn--orange btn--cubic btn--shadow" href="{% url 'bottleneckmas:S06-01' %}">キャンセル</a>
                    <button class="btn btn--orange btn--cubic btn--shadow" type="submit">更新</button>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}