{% load in_group %}

<div class="sb-sidenav-menu-heading">商品情報管理</div>
<a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePages1" aria-expanded="false"
    aria-controls="collapsePages1">
    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
    {% if user|in_group:"店長" %}商品情報管理{% else %}商品情報{% endif %}
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="collapsePages1" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
        <a class="nav-link" href="{% url 'itemmas:S03-01' %}">
            <div class="sb-nav-link-icon"><i class="fas fa-laptop"></i></div>
            {% if user|in_group:"店長" %}商品マスタ{% else %}商品情報{% endif %}
        </a>
        <a class="nav-link" href="{% url 'setitem:S08-01' %}">
            <div class="sb-nav-link-icon"><i class="fas fa-laptop"></i></div>
            {% if user|in_group:"店長" %}セット商品マスタ{% else %}セット商品{% endif %}
        </a>
        <a class="nav-link" href="{% url 'earningmas:S04-01' %}">
            <div class="sb-nav-link-icon"><i class="fas fa-yen-sign"></i></div>
            {% if user|in_group:"店長" %}売上マスタ{% else %}売上{% endif %}
        </a>
        <a class="nav-link" href="{% url 'estimate:S10-01' %}">
            <div class="sb-nav-link-icon"><i class="far fa-sticky-note"></i></div>
            見積
        </a>
        <a class="nav-link" href="{% url 'bottleneckmas:S06-01' %}">
            <div class="sb-nav-link-icon"><i class="fas fa-random"></i></div>
            {% if user|in_group:"店長" %}ボトルネックマスタ{% else %}ボトルネック{% endif %}
        </a>
        <a class="nav-link" href="{% url 'benchmas:S05-01CPU' %}">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            {% if user|in_group:"店長" %}ベンチマークマスタ{% else %}ベンチマーク{% endif %}
        </a>
        <a class="nav-link" href="{% url 'reserve:S09-01' %}">
            <div class="sb-nav-link-icon"><i class="fas fa-boxes"></i></div>
            {% if user|in_group:"店長" %}取置予約管理{% else %}取置予約{% endif %}
        </a>
    </nav>
</div>
<div class="sb-sidenav-menu-heading">人事情報管理</div>
<a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePages2" aria-expanded="false"
    aria-controls="collapsePages2">
    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
    {% if user|in_group:"店長" %}人事情報管理{% else %}人事情報{% endif %}
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="collapsePages2" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
        <a class="nav-link" href="{% url 'employeemas:S01-01' %}">
            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
            {% if user|in_group:"店長" %}従業員情報マスタ{% else %}従業員情報{% endif %}
            
        </a>
        <a class="nav-link" href="{% url 'workstatus:S14-01' %}">
            <div class="sb-nav-link-icon"><i class="fas fa-street-view"></i></div>
            {% if user|in_group:"店長" %}勤務店舗状況管理{% else %}勤務店舗状況{% endif %}
        </a>
    </nav>
</div>

<div class="sb-sidenav-menu-heading">店舗情報管理</div>
<a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePages3" aria-expanded="false"
    aria-controls="collapsePages3">
    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
    {% if user|in_group:"店長" %}店舗情報管理{% else %}店舗情報{% endif %}
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
</a>
<div class="collapse" id="collapsePages3" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
        <a class="nav-link" href="{% url 'storemas:S02-01' %}">
            <div class="sb-nav-link-icon"><i class="fas fa-store-alt"></i></div>
            {% if user|in_group:"店長" %}店舗マスタ{% else %}店舗情報{% endif %}
        </a>
    </nav>
</div>