<!-- S10-01 見積

    ToDo
        画面の制作お願いします
        *画面の確認
        *views.py、forms.pyの埋め込みタグを記述
        *画面の確認
        *画面のスタイル最終調整
        *最終確認(新満) 
        
-->

{% extends 'base.html' %}

{% load static %}

{% block title %}SIMS | 見積{% endblock %}

{% block main_contents %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">見積</h1>
        <div class="row">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="placement-right">
                        <a class="btn btn-main estimate" href="#">お客様用見積画面へ</a>
                    </div>
                    <p>商品コード <input type="text" name="itemcode" placeholder="商品コード"><a class="btn btn-main" href="#">追加</a></p>
                    <table class="listtable sub3">
                        <thead class="tablecolumn">
                            <tr>
                                <th>商品コード</th>
                                <th>型番</th>
                                <th>仕入価格</th>
                                <th>粗利率</th>
                                <th>粗利</th>
                                <th>販売価格</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="border:none;">
                                    <a class="btn btn-main" href="#">削除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="ProductTable">
                        <tr><th>Office</th>
                            <td style="width: 35%;" class="sub2"><input type="text" name="offciceselect" placeholder="office" autocomplete="off"></td>
                            <td style="width: 15%;"></td>
                            <td style="width: 30%;"></td>
                            <td class="therd-td sub1" style="width: 20%;">○○○○○円</td>
                        </tr>
                        <tr><th>SSD</th>
                            <td class="sub2"><input type="text" name="SSD" placeholder="SSD">GB</td>
                            <td class="therd-td"></td><td></td><td class="sub1">○○○○○円</td>
                        </tr>
                        <tr><th>メモリ</th>
                            <td class="sub2"><input type="text" name="memory" placeholder="メモリ"></td>
                            <td class="therd-td">×<select name="example">
                            <option value="サンプル1">1枚</option>
                            <option value="サンプル2">2枚</option>
                            <option value="サンプル3">3枚</option>
                        </select></td><td></td><td class="sub1">○○○○○円</td></tr>
                        <tr><th>その他</th>
                            <td class="sub2"><input type="text" name="" placeholder="直接金額を入力して下さい"></td><td class="therd-td"></td><td></td><td class="sub1">○○○○○円</td></tr>
                        <!-- <tr><th></th><td></td><td class="therd-td"></td><td></td><td>合計○○○○○円</td></tr> -->
                        <tr>
                            <td colspan="5" class="sub1">合計○○○○円</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}