<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>フォーム</title>
    <!-- <link rel="stylesheet" type="text/css" href=" static 'js/datatables/datatables.min.css' %}"/> -->
    <!-- <script type="text/javascript" language="javascript" src=" static 'js/datatables/jquery-3.6.0.min.js' %}"></script> -->
</head>

<body>
    <h1>ユーザーフォーム</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}x
        <!-- <input type="text" id="hogehoge" /> -->
        <input type="text" autocomplete="on" list="mylist">
        <!-- Inputタグに対する入力補完 -->
        <datalist id="mylist">
            <option value="渋谷"></option>
            <option value="新宿"></option>
            <option value="新橋"></option>
            <option value="新大阪"></option>
            <option value="原宿"></option>
        </datalist>
        <button type="submit">送信</button>
    </form>
    <!-- <p>{{ name }}</p>
    <p>{{ email }</p> -->
</body>
<!-- <script>
    $(function () {
        // 入力補完候補の単語リスト
        var wordlist = [
            "あいうえお",
            "かきくけこ",
            "さしすせそ",
            "たちつてと",
            "なにぬねの",
            "はひふへほ",
            "まみむめも",
            "やゆよ",
            "らりるれろ",
            "わをん",
            "あかさたなはまやらわ",
            "いきしちにひみり",
            "うくすつぬふむゆる",
            "えけせてねへめれ",
            "おこそとのほもよろを",
            "ん",
            "abcdefg",
            "hijklmnop",
            "qrstuv",
            "wxyz",
            "abc",
            "def",
            "ghi",
            "jkl",
            "mno",
            "pqr",
            "stu",
            "vwx",
            "yz",
            "漢字１",
            "漢字２",
            "漢字３"
        ];

        // 入力補完を実施する要素に単語リストを設定
        $("#hogehoge").autocomplete({
            source: wordlist
        });
    }); -->
</script>

</html>