<!-- S04-03 売上情報編集

    ToDo
        画面の制作お願いします
        *

-->

{% extends 'base.html' %}

{% block title %}SIMS | 売上情報編集{% endblock %}

{% block main_contents %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">売上管理</h1>
        <div class="row">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    売上情報編集
                </div>
                <div class="card-body">
                    <div class="item_beside">
                        <select name="earning-select">
                            <option value="打ち直し">打ち直し</option>
                            <option value="返金">返金</option>
                            <option value="返品">返品</option>
                        </select>
                        販売価格<input type="text" id="money" name="money">円
                        <a class="btn btn-touroku" href="#">確定</a>
                    </div>
                    <table id="earning_table" class="earningtable">
                        <thead class="tablecolumn">
                            <tr>
                                <th>伝票番号</th>
                                <th>販売日</th>
                                <th>商品コード</th>
                                <th>型番</th>
                                <th>仕入価格</th>
                                <th>販売価格</th>
                                <th>粗利</th>
                                <th>粗利率</th>
                                <th>販売店舗</th>
                                <th>担当者</th>
                            </tr>
                        </thead>
                        <tbody class="tabletbody">
                            <tr>
                                <td>123456789</td>
                                <td>2020/10/31</td>
                                <td>123456789</td>
                                <td>123456789</td>
                                <td>3000円</td>
                                <td>4000円</td>
                                <td>1000</td>
                                <td>25%</td>
                                <td>店舗A</td>
                                <td>大原太郎</td>
                            </tr>
                            <tr>
                                <td>123456789</td>
                                <td>2020/10/31</td>
                                <td>123456789</td>
                                <td>123456789</td>
                                <td>3000円</td>
                                <td>-4000円</td>
                                <td></td>
                                <td></td>
                                <td>店舗A</td>
                                <td>大原太郎</td>
                            </tr>
                            <tr>
                                <td>123456789</td>
                                <td>2020/10/31</td>
                                <td>123456789</td>
                                <td>123456789</td>
                                <td>3000円</td>
                                <td>4500円</td>
                                <td>1500</td>
                                <td>33.3%</td>
                                <td>店舗A</td>
                                <td>大原太郎</td>
                                <td style="border:none;">
                                    <a class="btn btn-small" href="#">削除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-touroku" href="#">更新</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}