{% extends 'base.html' %}

{% load static %}

{% block title %}SIMS | ホーム画面{% endblock %}

{% block main_contents %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">TrialTables</h1>
        <!-- <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="# url 'home:index' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol> -->
        <!-- <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">データ追加</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="# url 'table:table_create' %}">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <div class="row">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    商品情報一覧
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead class="tablecolumn">
                            <div class="tablecolumn2">
                                <tr>
                                    <th>商品コード</th>
                                    <th>型番</th>
                                    <th>カテゴリ</th>
                                    <th>在庫場所</th>
                                    <th>仕入価格</th>
                                </tr>
                            </div>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>商品コード</th>
                                <th>型番</th>
                                <th>カテゴリ</th>
                                <th>在庫場所</th>
                                <th>仕入価格</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>123456789</td>
                                <td>FMVU75EUV1</td>
                                <td>ノートPC</td>
                                <td>店舗A</td>
                                <td>¥12,000</td>
                            </tr>
                            <tr>
                                <td>225637343</td>
                                <td>FMVU75DFV1</td>
                                <td>デスクトップ</td>
                                <td>店舗D</td>
                                <td>¥23,500</td>
                            </tr>
                            <tr>
                                <td>131379790</td>
                                <td>FMVU75DHB8</td>
                                <td>ノートPC </td>
                                <td>店舗A</td>
                                <td>¥12,000</td>
                            </tr>
                            <tr>
                                <td>759249801</td>
                                <td>ABCU75EUV1</td>
                                <td>ノートPC </td>
                                <td>店舗C</td>
                                <td>¥12,000</td>
                            </tr>
                            <tr>
                                <td>8428392030</td>
                                <td>FMVU76HUV1</td>
                                <td>ノートPC </td>
                                <td>店舗B</td>
                                <td>¥12,900</td>
                            </tr>
                            <tr>
                                <td>849384296</td>
                                <td>GMVS75EUV1</td>
                                <td>ノートPC </td>
                                <td>店舗A</td>
                                <td>¥12,600</td>
                            </tr>
                            
                        </tbody>
                        
                        
                        <!-- <tbody>
                            {% for i in object_list %}
                            <tr>
                                <td><a href="# url 'table:table_detail' i.pk %}">{{ i.get_choice_display }}</a></td>
                                <td>{{i.date | date:"Y/m/d"}}</td>
                                <td>{{i.title}}</td>
                                <td>{{i.get_genre_display}}</td>
                                <td>{{i.quanity}}</td>
                                <td>{{ i.money }}¥</td>
                            </a>
                        </tr>
                        {% empty %}
                        <p>テーブルはありません。</p>
                        {% endfor %}
                        </tbody> -->
                    </table>
                </div>
                    
            </div>
            
        </div>
    </div>
</main>

{% endblock %}