<!-- ページネーション処理 -->
{% if object_list.has_other_pages %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {# 前のページがあるならば前のページを表示、無ければ表示しない #}
        {% if object_list.has_previous %}
            <li><a class="page-link d-inline-block" href="?query={{ request.GET.query }}&page={{ object_list.previous_page_number }}"><<</a></li>
        {% else %}
            <li class="disabled"><div class="page-link d-inline-block disabled" href="#"><<</div></li>
        {% endif %}

        {# 開いている画面に前のページがある場合 #}
        {% if object_list.has_previous %}
            {# 前のページの番号が1でない場合 #}
            {% if object_list.previous_page_number != 1 %}
                <li><a class="page-link  d-inline-block" href="?query={{ request.GET.query }}&page=1">1</a></li>
                <li>…</li>
            {% endif %}
            <li><a class="page-link  d-inline-block" href="?query={{ request.GET.query }}&page={{ object_list.previous_page_number }}">{{ object_list.previous_page_number }}</a></li>
        {% endif %}
        <li class="disabled"><div class="page-link d-inline-block disabled" href="#">{{ object_list.number }}</div></li>

        {# 開いている画面に次のページがある場合 #}
        {% if object_list.has_next %}
            <li><a class="page-link  d-inline-block" href="?query={{ request.GET.query }}&page={{ object_list.next_page_number }}">{{ object_list.next_page_number }}</a></li>
            {# 次のページの番号が最後のページでなかった場合 #}
            {% if object_list.next_page_number != object_list.paginator.num_pages %}
                <li>…</li>
                <li><a class="page-link  d-inline-block" href="?query={{ request.GET.query }}&page={{ object_list.paginator.num_pages }}">{{ object_list.paginator.num_pages }}</a></li>
            {% endif %}
        {% endif %}
        
        {# 次のページがあるならば次のページを表示、無ければ表示しない #}
        {% if object_list.has_next %}
            <li><a class="page-link  d-inline-block" href="?query={{ request.GET.query }}&page={{ object_list.next_page_number }}">>></a></li>
        {% else %}
            <li class="disabled"><div class="page-link d-inline-block disabled" href="#">>></div></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
<!-- ページネーション処理終了 -->